<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Agent Registry</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Agent Registry</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/0df926d7-ed45-4fcf-a9b1-48b62c3cfdbf.png" alt="Agent Registry" usemap="#0df926d7-ed45-4fcf-a9b1-48b62c3cfdbfmap">
			<map name="0df926d7-ed45-4fcf-a9b1-48b62c3cfdbfmap">
								<area shape="rect" coords="526,58,646,113" href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html"  target="element">

						<area shape="rect" coords="502,10,695,179" href="../elements/e6b95eaf-6943-4733-8c16-4cba1c63f67d.html"  target="element">
										<area shape="rect" coords="58,299,178,354" href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html"  target="element">

								<area shape="rect" coords="34,251,334,371" href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html"  target="element">
										<area shape="rect" coords="538,299,659,360" href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html"  target="element">
										<area shape="rect" coords="526,419,646,474" href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html"  target="element">
										<area shape="rect" coords="382,419,502,474" href="../elements/e1e31100-e4f3-488a-8721-05a066a7e791.html"  target="element">
										<area shape="rect" coords="682,419,802,474" href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html"  target="element">
										<area shape="rect" coords="539,515,659,570" href="../elements/b0f3696a-e12f-4bec-adfa-b2e4bd57a80d.html"  target="element">
										<area shape="rect" coords="694,515,814,570" href="../elements/3f1632fd-ac6b-41f8-b76a-599dae2e62d6.html"  target="element">
										<area shape="rect" coords="838,515,958,570" href="../elements/33078f6e-3128-4f5f-88c0-17828c55dff8.html"  target="element">
										<area shape="rect" coords="898,419,1018,474" href="../elements/ba712aef-01c4-4ae3-a874-fb508e485248.html"  target="element">

								<area shape="rect" coords="358,251,1079,612" href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html"  target="element">
										<area shape="rect" coords="195,455,315,510" href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html"  target="element">
										<area shape="rect" coords="51,455,171,510" href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html"  target="element">

								<area shape="rect" coords="39,419,328,528" href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html"  target="element">

						<area shape="rect" coords="10,203,1115,640" href="../elements/1b64e117-dbf1-414a-b795-662b9ebcc869.html"  target="element">
								<area shape="rect" coords="430,807,550,862" href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html"  target="element">
								<area shape="rect" coords="214,807,334,862" href="../elements/0060fec1-682c-4797-9e67-263405120013.html"  target="element">
								<area shape="rect" coords="382,747,397,762" href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html"  target="element">

						<area shape="rect" coords="190,711,598,891" href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html"  target="element">
								<area shape="rect" coords="934,807,1054,862" href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html"  target="element">
								<area shape="rect" coords="1126,795,1246,850" href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html"  target="element">
								<area shape="rect" coords="1078,759,1093,774" href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html"  target="element">

						<area shape="rect" coords="922,723,1258,892" href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/e6b95eaf-6943-4733-8c16-4cba1c63f67d.html" target="element"> Functionality Package </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html" target="element"> Package </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/1b64e117-dbf1-414a-b795-662b9ebcc869.html" target="element"> Agent Registry </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html" target="element"> Intentions </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html" target="element"> Intention </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													
													<tr><td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Source Selection Pattern </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/e1e31100-e4f3-488a-8721-05a066a7e791.html" target="element"> API Signature pattern </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/b0f3696a-e12f-4bec-adfa-b2e4bd57a80d.html" target="element"> Query based </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/3f1632fd-ac6b-41f8-b76a-599dae2e62d6.html" target="element"> Transition Based </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/33078f6e-3128-4f5f-88c0-17828c55dff8.html" target="element"> Event Based </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/ba712aef-01c4-4ae3-a874-fb508e485248.html" target="element"> Others </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													
													<tr><td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html" target="element"> Transition Map </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html" target="element"> Plan </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													
											
											<tr><td> <a href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html" target="element"> Query </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Filtered State </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> Known State </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
											
											<tr><td> <a href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html" target="element"> Effect </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html" target="element"> Previous State </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html" target="element"> Next State </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6e66dfdc-5f3f-40c3-b72f-4e04e42f6f05.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e66dfdc-5f3f-40c3-b72f-4e04e42f6f05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e6b95eaf-6943-4733-8c16-4cba1c63f67d.html" target="element"> Functionality Package </a> </td>
																		<td> <a href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html" target="element"> Package </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/214c9365-2518-4b7b-8e19-85f283f3b70b.html" target="element">  </a> </td>
																				<td> <a href="../elements/214c9365-2518-4b7b-8e19-85f283f3b70b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html" target="element"> Package </a> </td>
																				<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ce761ea3-993e-4e57-b66a-0a10d6ae1fb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce761ea3-993e-4e57-b66a-0a10d6ae1fb7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1b64e117-dbf1-414a-b795-662b9ebcc869.html" target="element"> Agent Registry </a> </td>
																		<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9b25fc26-7260-43db-84da-6482e0ba0a85.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b25fc26-7260-43db-84da-6482e0ba0a85.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1b64e117-dbf1-414a-b795-662b9ebcc869.html" target="element"> Agent Registry </a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/99aec39b-4b9d-40c5-8ca7-2528d8ae0b87.html" target="element">  </a> </td>
																				<td> <a href="../elements/99aec39b-4b9d-40c5-8ca7-2528d8ae0b87.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html" target="element"> Intentions </a> </td>
																				<td> <a href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html" target="element"> Intention </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0faa9990-770a-46b6-8023-35647678a034.html" target="element">  </a> </td>
																				<td> <a href="../elements/0faa9990-770a-46b6-8023-35647678a034.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html" target="element"> Intentions </a> </td>
																				<td> <a href="../elements/1b64e117-dbf1-414a-b795-662b9ebcc869.html" target="element"> Agent Registry </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/5a2e1238-10b3-468c-9aa1-57f0fbc6eea1.html" target="element">  </a> </td>
																				<td> <a href="../elements/5a2e1238-10b3-468c-9aa1-57f0fbc6eea1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c9334a3e-e870-42ee-ac73-6054e029d975.html" target="element">  </a> </td>
																				<td> <a href="../elements/c9334a3e-e870-42ee-ac73-6054e029d975.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Source Selection Pattern </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f6f71c10-334e-43d5-b02e-1d4e3ae0a715.html" target="element">  </a> </td>
																				<td> <a href="../elements/f6f71c10-334e-43d5-b02e-1d4e3ae0a715.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/e1e31100-e4f3-488a-8721-05a066a7e791.html" target="element"> API Signature pattern </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c74524f5-5fcd-4054-812f-b236d48a7eba.html" target="element">  </a> </td>
																				<td> <a href="../elements/c74524f5-5fcd-4054-812f-b236d48a7eba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a1767cf9-6006-4e12-85b5-2b535caaf3c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/a1767cf9-6006-4e12-85b5-2b535caaf3c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/b0f3696a-e12f-4bec-adfa-b2e4bd57a80d.html" target="element"> Query based </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fe2ae553-03d6-44b2-888f-fdd97f19992c.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe2ae553-03d6-44b2-888f-fdd97f19992c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/3f1632fd-ac6b-41f8-b76a-599dae2e62d6.html" target="element"> Transition Based </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/95e05e52-d495-4fad-bff6-aed44701fc21.html" target="element">  </a> </td>
																				<td> <a href="../elements/95e05e52-d495-4fad-bff6-aed44701fc21.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/33078f6e-3128-4f5f-88c0-17828c55dff8.html" target="element"> Event Based </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b45b50b6-2a83-42bd-a52d-0e8032195f2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/b45b50b6-2a83-42bd-a52d-0e8032195f2a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/ba712aef-01c4-4ae3-a874-fb508e485248.html" target="element"> Others </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/48837db9-63e7-472e-b74d-f49978ecf01c.html" target="element">  </a> </td>
																						<td> <a href="../elements/48837db9-63e7-472e-b74d-f49978ecf01c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																						<td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Source Selection Pattern </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7149fa8d-e604-4e30-9b8a-5b637f4e6a1a.html" target="element">  </a> </td>
																						<td> <a href="../elements/7149fa8d-e604-4e30-9b8a-5b637f4e6a1a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																						<td> <a href="../elements/e1e31100-e4f3-488a-8721-05a066a7e791.html" target="element"> API Signature pattern </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/fc6de735-499c-4e04-8910-9597fd9d0a78.html" target="element">  </a> </td>
																						<td> <a href="../elements/fc6de735-499c-4e04-8910-9597fd9d0a78.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																						<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/be7850f3-3490-482a-8e75-8698ad7e10a3.html" target="element">  </a> </td>
																						<td> <a href="../elements/be7850f3-3490-482a-8e75-8698ad7e10a3.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/b0f3696a-e12f-4bec-adfa-b2e4bd57a80d.html" target="element"> Query based </a> </td>
																						<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/efd193ae-a7c9-41c8-a546-2316e0739b42.html" target="element"> describes how </a> </td>
																						<td> <a href="../elements/efd193ae-a7c9-41c8-a546-2316e0739b42.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/b0f3696a-e12f-4bec-adfa-b2e4bd57a80d.html" target="element"> Query based </a> </td>
																						<td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/9b61bdab-749c-4cfe-b093-e590d06ef4bd.html" target="element">  </a> </td>
																						<td> <a href="../elements/9b61bdab-749c-4cfe-b093-e590d06ef4bd.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/3f1632fd-ac6b-41f8-b76a-599dae2e62d6.html" target="element"> Transition Based </a> </td>
																						<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/37a1fca2-a5a9-4e34-8ad7-43df50e9d636.html" target="element"> describes how </a> </td>
																						<td> <a href="../elements/37a1fca2-a5a9-4e34-8ad7-43df50e9d636.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/3f1632fd-ac6b-41f8-b76a-599dae2e62d6.html" target="element"> Transition Based </a> </td>
																						<td> <a href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html" target="element"> Junction </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/93dc6bca-ea09-4462-b0c7-cacf0366026e.html" target="element">  </a> </td>
																						<td> <a href="../elements/93dc6bca-ea09-4462-b0c7-cacf0366026e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/33078f6e-3128-4f5f-88c0-17828c55dff8.html" target="element"> Event Based </a> </td>
																						<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/b16e00aa-9af3-401a-960e-31e827d0e2ae.html" target="element">  </a> </td>
																						<td> <a href="../elements/b16e00aa-9af3-401a-960e-31e827d0e2ae.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/ba712aef-01c4-4ae3-a874-fb508e485248.html" target="element"> Others </a> </td>
																						<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/76ad9692-b64d-40e8-b124-1d555ddb777a.html" target="element">  </a> </td>
																				<td> <a href="../elements/76ad9692-b64d-40e8-b124-1d555ddb777a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																				<td> <a href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html" target="element"> Transition Map </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5b254c63-6e6c-4a27-b7d8-bdbefaf99144.html" target="element">  </a> </td>
																				<td> <a href="../elements/5b254c63-6e6c-4a27-b7d8-bdbefaf99144.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																				<td> <a href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html" target="element"> Plan </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/d4c4b437-831f-4864-b59c-91ab2c07a8c5.html" target="element">  </a> </td>
																						<td> <a href="../elements/d4c4b437-831f-4864-b59c-91ab2c07a8c5.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html" target="element"> Plan </a> </td>
																						<td> <a href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html" target="element"> Transition Map </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/0a068654-352b-4745-8d09-4b01c4731255.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a068654-352b-4745-8d09-4b01c4731255.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html" target="element"> Query </a> </td>
																		<td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Filtered State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de3645d1-e06d-4e02-bf32-2efc200e7b12.html" target="element">  </a> </td>
																		<td> <a href="../elements/de3645d1-e06d-4e02-bf32-2efc200e7b12.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html" target="element"> Query </a> </td>
																		<td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> Known State </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8ac8575b-7e48-4cdf-a565-96a8f154002f.html" target="element">  </a> </td>
																				<td> <a href="../elements/8ac8575b-7e48-4cdf-a565-96a8f154002f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> Known State </a> </td>
																				<td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Filtered State </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4d77cc35-be81-42c1-b67e-855ce2aa0564.html" target="element"> filters </a> </td>
																				<td> <a href="../elements/4d77cc35-be81-42c1-b67e-855ce2aa0564.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Filtered State </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8df23f47-5c8d-40f8-84e4-fd7f0c6f5593.html" target="element"> retrieves </a> </td>
																				<td> <a href="../elements/8df23f47-5c8d-40f8-84e4-fd7f0c6f5593.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> Known State </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/29db7056-7176-4a1c-a46c-088705ce9805.html" target="element">  </a> </td>
																		<td> <a href="../elements/29db7056-7176-4a1c-a46c-088705ce9805.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html" target="element"> Effect </a> </td>
																		<td> <a href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html" target="element"> Previous State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1505d157-a0f4-4320-bfc4-d2695d32674c.html" target="element">  </a> </td>
																		<td> <a href="../elements/1505d157-a0f4-4320-bfc4-d2695d32674c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html" target="element"> Effect </a> </td>
																		<td> <a href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html" target="element"> Next State </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/851f6805-e5ab-4cb2-9242-31d13734aeb7.html" target="element">  </a> </td>
																				<td> <a href="../elements/851f6805-e5ab-4cb2-9242-31d13734aeb7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html" target="element"> Previous State </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/701b7313-9b44-4d39-927c-db1f2bab8dae.html" target="element">  </a> </td>
																				<td> <a href="../elements/701b7313-9b44-4d39-927c-db1f2bab8dae.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html" target="element"> Next State </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>