<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Strategic</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Strategic</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/35ca46cc-4725-474d-a96b-5708bb64bcc3.png" alt="Strategic" usemap="#35ca46cc-4725-474d-a96b-5708bb64bcc3map">
			<map name="35ca46cc-4725-474d-a96b-5708bb64bcc3map">
						<area shape="rect" coords="82,406,227,467" href="../elements/a81969f0-7f75-4385-a823-fff5d035ce32.html"  target="element">
						<area shape="rect" coords="454,406,611,467" href="../elements/880fdc6b-8266-4ae9-b708-dd5442919504.html"  target="element">
						<area shape="rect" coords="262,406,407,467" href="../elements/f9b2abff-d81b-4328-913b-2f49e221f029.html"  target="element">
						<area shape="rect" coords="250,154,419,239" href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html"  target="element">
						<area shape="rect" coords="538,250,706,305" href="../elements/af227e97-23cc-43b2-8220-55554310f115.html"  target="element">
						<area shape="rect" coords="538,58,706,113" href="../elements/66cd9197-5bd1-4ad2-bcba-28f40c07e5a2.html"  target="element">
						<area shape="rect" coords="10,250,178,305" href="../elements/1038bb3a-77c8-40ca-a415-b813f87d1295.html"  target="element">
						<area shape="rect" coords="538,154,706,209" href="../elements/dd8caac0-6183-4f69-a025-ea2828250243.html"  target="element">
						<area shape="rect" coords="10,58,178,113" href="../elements/b40ba875-64b4-42aa-929c-602246cfd47d.html"  target="element">
						<area shape="rect" coords="10,154,178,209" href="../elements/6ec0362b-8c68-4bff-ac22-a711ba991843.html"  target="element">
						<area shape="rect" coords="251,10,419,65" href="../elements/ea133da4-6179-4da7-b500-1ad36cb5d246.html"  target="element">
						<area shape="rect" coords="256,310,413,365" href="../elements/b62ae1da-dd4f-4bdd-b3e9-e4f65da1b2e1.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/a81969f0-7f75-4385-a823-fff5d035ce32.html" target="element"> Organisational Interoperability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/880fdc6b-8266-4ae9-b708-dd5442919504.html" target="element"> Semantic Interoperability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/f9b2abff-d81b-4328-913b-2f49e221f029.html" target="element"> Technical Interoperability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/af227e97-23cc-43b2-8220-55554310f115.html" target="element"> Organizational simplification </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/66cd9197-5bd1-4ad2-bcba-28f40c07e5a2.html" target="element"> Assessment of Effectiveness and Efficiency </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/1038bb3a-77c8-40ca-a415-b813f87d1295.html" target="element"> Inclusion and accessibility </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/dd8caac0-6183-4f69-a025-ea2828250243.html" target="element"> Openness </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/b40ba875-64b4-42aa-929c-602246cfd47d.html" target="element"> Reusability </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/6ec0362b-8c68-4bff-ac22-a711ba991843.html" target="element"> Transparency </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/ea133da4-6179-4da7-b500-1ad36cb5d246.html" target="element"> User-centricity </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											<tr><td> <a href="../elements/b62ae1da-dd4f-4bdd-b3e9-e4f65da1b2e1.html" target="element"> Interoperability </a> </td><td class="i18n-elementtype-Goal"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/fbefe2d0-b9d2-4ae9-bc88-8abf71a46a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbefe2d0-b9d2-4ae9-bc88-8abf71a46a9e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/a81969f0-7f75-4385-a823-fff5d035ce32.html" target="element"> Organisational Interoperability </a> </td>
																		<td> <a href="../elements/b62ae1da-dd4f-4bdd-b3e9-e4f65da1b2e1.html" target="element"> Interoperability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b4d35845-dd09-4d93-9ca5-4665f8c395db.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4d35845-dd09-4d93-9ca5-4665f8c395db.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/880fdc6b-8266-4ae9-b708-dd5442919504.html" target="element"> Semantic Interoperability </a> </td>
																		<td> <a href="../elements/b62ae1da-dd4f-4bdd-b3e9-e4f65da1b2e1.html" target="element"> Interoperability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3a3c93f5-cf66-487f-a121-ff1d12cdf341.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a3c93f5-cf66-487f-a121-ff1d12cdf341.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/f9b2abff-d81b-4328-913b-2f49e221f029.html" target="element"> Technical Interoperability </a> </td>
																		<td> <a href="../elements/b62ae1da-dd4f-4bdd-b3e9-e4f65da1b2e1.html" target="element"> Interoperability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bf0991a3-129c-47f0-8805-8b710bad99f4.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/bf0991a3-129c-47f0-8805-8b710bad99f4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																		<td> <a href="../elements/b62ae1da-dd4f-4bdd-b3e9-e4f65da1b2e1.html" target="element"> Interoperability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a247facd-3210-48fa-8866-a4d7d5366013.html" target="element">  </a> </td>
																		<td> <a href="../elements/a247facd-3210-48fa-8866-a4d7d5366013.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/af227e97-23cc-43b2-8220-55554310f115.html" target="element"> Organizational simplification </a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1cdd92e-1ad9-486b-a467-1f7bff12aafa.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1cdd92e-1ad9-486b-a467-1f7bff12aafa.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/66cd9197-5bd1-4ad2-bcba-28f40c07e5a2.html" target="element"> Assessment of Effectiveness and Efficiency </a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8b420e31-fdb5-4160-b94d-26cbe3a51aa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8b420e31-fdb5-4160-b94d-26cbe3a51aa4.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/1038bb3a-77c8-40ca-a415-b813f87d1295.html" target="element"> Inclusion and accessibility </a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8914e8e9-3166-4262-b101-4dc1dfa5a6e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8914e8e9-3166-4262-b101-4dc1dfa5a6e4.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/dd8caac0-6183-4f69-a025-ea2828250243.html" target="element"> Openness </a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3c6ad00a-faad-49cb-96a1-6a82839c6dfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c6ad00a-faad-49cb-96a1-6a82839c6dfd.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/b40ba875-64b4-42aa-929c-602246cfd47d.html" target="element"> Reusability </a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0fb8492d-3025-46f8-b96e-c6d1d3250f84.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fb8492d-3025-46f8-b96e-c6d1d3250f84.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/6ec0362b-8c68-4bff-ac22-a711ba991843.html" target="element"> Transparency </a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bc0b990f-07fe-4a49-bc40-bd6294c61f0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/bc0b990f-07fe-4a49-bc40-bd6294c61f0c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/ea133da4-6179-4da7-b500-1ad36cb5d246.html" target="element"> User-centricity </a> </td>
																		<td> <a href="../elements/fdb5a544-8d86-4265-9f92-ea72e72e251c.html" target="element"> Principles </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>