<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tools</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Tools</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/3c2208d1-765f-4e83-b9b9-234388a97a3b.png" alt="Tools" usemap="#3c2208d1-765f-4e83-b9b9-234388a97a3bmap">
			<map name="3c2208d1-765f-4e83-b9b9-234388a97a3bmap">
								<area shape="rect" coords="682,510,802,565" href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html"  target="element">

						<area shape="rect" coords="658,474,838,594" href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html"  target="element">
								<area shape="rect" coords="58,515,178,570" href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html"  target="element">

						<area shape="rect" coords="34,467,227,600" href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html"  target="element">
								<area shape="rect" coords="286,520,406,575" href="../elements/a54fc883-554d-447e-bb76-c0fcc05a5ea5.html"  target="element">

						<area shape="rect" coords="262,472,431,596" href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html"  target="element">
								<area shape="rect" coords="274,46,394,101" href="../elements/2654de8b-b9cb-46e8-8a05-c662a78e0b0f.html"  target="element">

						<area shape="rect" coords="262,10,407,123" href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html"  target="element">
								<area shape="rect" coords="46,227,166,282" href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html"  target="element">
								<area shape="rect" coords="46,347,166,402" href="../elements/f3b31266-7c02-4d70-9fee-98b698e29ced.html"  target="element">
								<area shape="rect" coords="262,347,382,402" href="../elements/e9934276-5c23-4eca-b669-f05e0b879bc0.html"  target="element">
								<area shape="rect" coords="454,347,574,402" href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html"  target="element">
								<area shape="rect" coords="454,227,574,282" href="../elements/b2fe0782-a59d-4394-8965-498bdc6af28a.html"  target="element">
								<area shape="rect" coords="262,227,382,282" href="../elements/6d65a351-ef27-4f61-8c60-d88a3a5fca8a.html"  target="element">
								<area shape="rect" coords="658,227,778,282" href="../elements/d33c8a60-c36b-4c87-bd0d-e7f50b5eb1a5.html"  target="element">
								<area shape="rect" coords="658,347,778,402" href="../elements/6268c496-0821-4b55-9e27-560e0f897448.html"  target="element">

						<area shape="rect" coords="10,155,827,432" href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html"  target="element">
								<area shape="rect" coords="46,48,166,103" href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html"  target="element">

						<area shape="rect" coords="34,12,179,121" href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html"  target="element">
								<area shape="rect" coords="478,515,598,570" href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html"  target="element">

						<area shape="rect" coords="466,467,623,600" href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html"  target="element">
								<area shape="rect" coords="658,50,778,105" href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html"  target="element">

						<area shape="rect" coords="646,14,802,123" href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html"  target="element">
								<area shape="rect" coords="454,48,574,103" href="../elements/00774f29-3b1c-462d-865c-08a766cdef93.html"  target="element">

						<area shape="rect" coords="442,12,587,122" href="../elements/c0954029-27f1-4bae-86f0-cabffb54c068.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html" target="element"> Parsing </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html" target="element"> Hypermedia API </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html" target="element"> Find Relations </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/a54fc883-554d-447e-bb76-c0fcc05a5ea5.html" target="element"> Mapping datasets </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											
											<tr><td> <a href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html" target="element"> Cognitive assistance </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/2654de8b-b9cb-46e8-8a05-c662a78e0b0f.html" target="element"> Sets </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											
											<tr><td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html" target="element"> Communica </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/f3b31266-7c02-4d70-9fee-98b698e29ced.html" target="element"> Hypermedia Agent </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/e9934276-5c23-4eca-b669-f05e0b879bc0.html" target="element"> RML </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html" target="element"> EYE </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/b2fe0782-a59d-4394-8965-498bdc6af28a.html" target="element"> Traces </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/6d65a351-ef27-4f61-8c60-d88a3a5fca8a.html" target="element"> Augmented Intelligence </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/d33c8a60-c36b-4c87-bd0d-e7f50b5eb1a5.html" target="element"> Planner </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/6268c496-0821-4b55-9e27-560e0f897448.html" target="element"> Parser </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											
											<tr><td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html" target="element"> Reasoning </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											
											<tr><td> <a href="../elements/c0954029-27f1-4bae-86f0-cabffb54c068.html" target="element"> Machine Learning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/00774f29-3b1c-462d-865c-08a766cdef93.html" target="element"> Refine </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/af590117-448b-405a-849c-38b355aad5cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/af590117-448b-405a-849c-38b355aad5cf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td>
																		<td> <a href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html" target="element"> Parsing </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/bd1594e3-b1a4-4f4c-819c-379f0722928f.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd1594e3-b1a4-4f4c-819c-379f0722928f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td>
																		<td> <a href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html" target="element"> Hypermedia API </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/784656f8-759a-43e0-b5a5-159c4ecdf623.html" target="element">  </a> </td>
																		<td> <a href="../elements/784656f8-759a-43e0-b5a5-159c4ecdf623.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html" target="element"> Find Relations </a> </td>
																		<td> <a href="../elements/a54fc883-554d-447e-bb76-c0fcc05a5ea5.html" target="element"> Mapping datasets </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/538144d8-4ccb-4ce0-b8c3-6bf60939ee49.html" target="element">  </a> </td>
																		<td> <a href="../elements/538144d8-4ccb-4ce0-b8c3-6bf60939ee49.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html" target="element"> Cognitive assistance </a> </td>
																		<td> <a href="../elements/2654de8b-b9cb-46e8-8a05-c662a78e0b0f.html" target="element"> Sets </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/548c7af8-6ec6-479c-92d6-0d89d5002b70.html" target="element">  </a> </td>
																		<td> <a href="../elements/548c7af8-6ec6-479c-92d6-0d89d5002b70.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html" target="element"> Communica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f446d0e4-0ed9-4966-90eb-58f97a4d9912.html" target="element">  </a> </td>
																		<td> <a href="../elements/f446d0e4-0ed9-4966-90eb-58f97a4d9912.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/f3b31266-7c02-4d70-9fee-98b698e29ced.html" target="element"> Hypermedia Agent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/387e408a-3f23-47f1-9eb9-314cabcce04b.html" target="element">  </a> </td>
																		<td> <a href="../elements/387e408a-3f23-47f1-9eb9-314cabcce04b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/e9934276-5c23-4eca-b669-f05e0b879bc0.html" target="element"> RML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/59638404-4e7f-4b2d-a805-d69d9dcd1b07.html" target="element">  </a> </td>
																		<td> <a href="../elements/59638404-4e7f-4b2d-a805-d69d9dcd1b07.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html" target="element"> EYE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10463d12-882b-4ff0-84f5-170f35263343.html" target="element">  </a> </td>
																		<td> <a href="../elements/10463d12-882b-4ff0-84f5-170f35263343.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/b2fe0782-a59d-4394-8965-498bdc6af28a.html" target="element"> Traces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f60a4269-2c1f-43ac-b8c1-bebda0a54814.html" target="element">  </a> </td>
																		<td> <a href="../elements/f60a4269-2c1f-43ac-b8c1-bebda0a54814.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/6d65a351-ef27-4f61-8c60-d88a3a5fca8a.html" target="element"> Augmented Intelligence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e7d0c5a-c11b-4009-9b30-1cc73a5ce74e.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e7d0c5a-c11b-4009-9b30-1cc73a5ce74e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/d33c8a60-c36b-4c87-bd0d-e7f50b5eb1a5.html" target="element"> Planner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0cae0bc-504d-48a2-8bdd-03286cd43ab9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0cae0bc-504d-48a2-8bdd-03286cd43ab9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd868321-1926-4363-adc8-d4fdbea200da.html" target="element"> Tools </a> </td>
																		<td> <a href="../elements/6268c496-0821-4b55-9e27-560e0f897448.html" target="element"> Parser </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a9f40fdb-0618-41ba-b644-169e33f3c94c.html" target="element">  </a> </td>
																				<td> <a href="../elements/a9f40fdb-0618-41ba-b644-169e33f3c94c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html" target="element"> Communica </a> </td>
																				<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ae45c80a-5ceb-455f-9d3c-6aece9051f75.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae45c80a-5ceb-455f-9d3c-6aece9051f75.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f3b31266-7c02-4d70-9fee-98b698e29ced.html" target="element"> Hypermedia Agent </a> </td>
																				<td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8205e85c-8466-4e0f-be6d-76d06e1c93c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/8205e85c-8466-4e0f-be6d-76d06e1c93c2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e9934276-5c23-4eca-b669-f05e0b879bc0.html" target="element"> RML </a> </td>
																				<td> <a href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html" target="element"> Find Relations </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/deddf03e-4803-4891-a78f-39b78e562568.html" target="element">  </a> </td>
																				<td> <a href="../elements/deddf03e-4803-4891-a78f-39b78e562568.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html" target="element"> EYE </a> </td>
																				<td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9e25b7c0-359e-46b3-8762-111d55d12d32.html" target="element">  </a> </td>
																				<td> <a href="../elements/9e25b7c0-359e-46b3-8762-111d55d12d32.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/b2fe0782-a59d-4394-8965-498bdc6af28a.html" target="element"> Traces </a> </td>
																				<td> <a href="../elements/c0954029-27f1-4bae-86f0-cabffb54c068.html" target="element"> Machine Learning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6905129a-755b-4a36-b36d-358efb046b6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/6905129a-755b-4a36-b36d-358efb046b6c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6d65a351-ef27-4f61-8c60-d88a3a5fca8a.html" target="element"> Augmented Intelligence </a> </td>
																				<td> <a href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html" target="element"> Cognitive assistance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0d8f5002-3d7c-4ee9-94fa-880bb0735012.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d8f5002-3d7c-4ee9-94fa-880bb0735012.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/d33c8a60-c36b-4c87-bd0d-e7f50b5eb1a5.html" target="element"> Planner </a> </td>
																				<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/42a57a5f-7c3e-4343-b920-50e72823f89c.html" target="element">  </a> </td>
																				<td> <a href="../elements/42a57a5f-7c3e-4343-b920-50e72823f89c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6268c496-0821-4b55-9e27-560e0f897448.html" target="element"> Parser </a> </td>
																				<td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element">  </a> </td>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																		<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/e1d6e54d-0c57-4469-8901-f809f7262227.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1d6e54d-0c57-4469-8901-f809f7262227.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td>
																		<td> <a href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html" target="element"> Reasoning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/79746f73-38dc-4c5e-8580-f4e05dd122dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/79746f73-38dc-4c5e-8580-f4e05dd122dc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																		<td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/df163462-cb5a-49f8-af65-058f5b597fbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/df163462-cb5a-49f8-af65-058f5b597fbc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c0954029-27f1-4bae-86f0-cabffb54c068.html" target="element"> Machine Learning </a> </td>
																		<td> <a href="../elements/00774f29-3b1c-462d-865c-08a766cdef93.html" target="element"> Refine </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>