<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Data, schemas, languages</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Data, schemas, languages</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/5e135fea-b1e8-415b-996e-9198a73bd757.png" alt="Data, schemas, languages" usemap="#5e135fea-b1e8-415b-996e-9198a73bd757map">
			<map name="5e135fea-b1e8-415b-996e-9198a73bd757map">
								<area shape="rect" coords="550,81,670,136" href="../elements/a54fc883-554d-447e-bb76-c0fcc05a5ea5.html"  target="element">
								<area shape="rect" coords="695,178,815,233" href="../elements/bc420cd1-c023-453b-bf45-4f79c15b6e85.html"  target="element">
								<area shape="rect" coords="694,82,815,135" href="../elements/d0200f05-50a6-4bcb-93a6-21bc4ef25716.html"  target="element">

						<area shape="rect" coords="526,22,839,263" href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html"  target="element">
								<area shape="rect" coords="58,70,178,125" href="../elements/768e0d55-e55a-48e2-b085-57a42f02b372.html"  target="element">
								<area shape="rect" coords="58,166,178,221" href="../elements/3636f4b9-d9a3-4c34-9b2b-18af56e264e1.html"  target="element">
								<area shape="rect" coords="214,166,334,221" href="../elements/6aa89319-9580-44c3-a01b-794145313d3a.html"  target="element">
								<area shape="rect" coords="286,70,406,125" href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html"  target="element">
								<area shape="rect" coords="346,166,466,221" href="../elements/c19fce14-ddad-4d6c-8821-20284caa66e3.html"  target="element">

						<area shape="rect" coords="10,10,503,263" href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html"  target="element">
								<area shape="rect" coords="886,70,1006,125" href="../elements/7e655e26-b33b-4446-8c89-693a5ae3e3dd.html"  target="element">
								<area shape="rect" coords="886,178,1006,233" href="../elements/bec8f10c-1665-4627-b2a9-28d8c20be938.html"  target="element">

						<area shape="rect" coords="862,22,1043,263" href="../elements/092afa0c-a1d3-4489-8094-6526f7ac8552.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html" target="element"> Find Relations </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/a54fc883-554d-447e-bb76-c0fcc05a5ea5.html" target="element"> Mapping datasets </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/bc420cd1-c023-453b-bf45-4f79c15b6e85.html" target="element"> Cristalyze </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/d0200f05-50a6-4bcb-93a6-21bc4ef25716.html" target="element"> Consolidate </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											
											<tr><td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/768e0d55-e55a-48e2-b085-57a42f02b372.html" target="element"> Schema Generation </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/3636f4b9-d9a3-4c34-9b2b-18af56e264e1.html" target="element"> SHACL Lifting </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/6aa89319-9580-44c3-a01b-794145313d3a.html" target="element"> SHACL </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/c19fce14-ddad-4d6c-8821-20284caa66e3.html" target="element"> N3Pattern </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/092afa0c-a1d3-4489-8094-6526f7ac8552.html" target="element"> Knowldge Engineering </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/7e655e26-b33b-4446-8c89-693a5ae3e3dd.html" target="element"> Agreements about the world </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/bec8f10c-1665-4627-b2a9-28d8c20be938.html" target="element"> OWL </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0a49a49f-4def-4c71-b3bf-01ba8db3a2d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a49a49f-4def-4c71-b3bf-01ba8db3a2d0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html" target="element"> Find Relations </a> </td>
																		<td> <a href="../elements/bc420cd1-c023-453b-bf45-4f79c15b6e85.html" target="element"> Cristalyze </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/784656f8-759a-43e0-b5a5-159c4ecdf623.html" target="element">  </a> </td>
																		<td> <a href="../elements/784656f8-759a-43e0-b5a5-159c4ecdf623.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html" target="element"> Find Relations </a> </td>
																		<td> <a href="../elements/a54fc883-554d-447e-bb76-c0fcc05a5ea5.html" target="element"> Mapping datasets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b22cd966-3aff-44d4-a823-cf12d9914026.html" target="element">  </a> </td>
																		<td> <a href="../elements/b22cd966-3aff-44d4-a823-cf12d9914026.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e49254b3-d12a-4b0b-bd5e-8bf32f2ee663.html" target="element"> Find Relations </a> </td>
																		<td> <a href="../elements/d0200f05-50a6-4bcb-93a6-21bc4ef25716.html" target="element"> Consolidate </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0eb47116-6835-4d5f-aadc-5568fe573ec2.html" target="element">  </a> </td>
																				<td> <a href="../elements/0eb47116-6835-4d5f-aadc-5568fe573ec2.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/bc420cd1-c023-453b-bf45-4f79c15b6e85.html" target="element"> Cristalyze </a> </td>
																				<td> <a href="../elements/d0200f05-50a6-4bcb-93a6-21bc4ef25716.html" target="element"> Consolidate </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2437defc-4786-47c8-8cb4-847c0d1d93be.html" target="element">  </a> </td>
																		<td> <a href="../elements/2437defc-4786-47c8-8cb4-847c0d1d93be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td>
																		<td> <a href="../elements/768e0d55-e55a-48e2-b085-57a42f02b372.html" target="element"> Schema Generation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a878e3ee-b753-4a0f-bdc3-cb64f559d191.html" target="element">  </a> </td>
																		<td> <a href="../elements/a878e3ee-b753-4a0f-bdc3-cb64f559d191.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td>
																		<td> <a href="../elements/3636f4b9-d9a3-4c34-9b2b-18af56e264e1.html" target="element"> SHACL Lifting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9aa7841d-a777-4193-ba43-e30968135c0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/9aa7841d-a777-4193-ba43-e30968135c0e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td>
																		<td> <a href="../elements/6aa89319-9580-44c3-a01b-794145313d3a.html" target="element"> SHACL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c6800e9a-2ef7-4f79-a390-d9ee65bf70ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6800e9a-2ef7-4f79-a390-d9ee65bf70ef.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td>
																		<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/afc7a580-ff12-4ab3-87c1-08ee36638e4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/afc7a580-ff12-4ab3-87c1-08ee36638e4f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/3636f4b9-d9a3-4c34-9b2b-18af56e264e1.html" target="element"> SHACL Lifting </a> </td>
																				<td> <a href="../elements/768e0d55-e55a-48e2-b085-57a42f02b372.html" target="element"> Schema Generation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0fd19e86-52d6-489a-9eb7-539b4552f129.html" target="element">  </a> </td>
																				<td> <a href="../elements/0fd19e86-52d6-489a-9eb7-539b4552f129.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/6aa89319-9580-44c3-a01b-794145313d3a.html" target="element"> SHACL </a> </td>
																				<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fe3b5efe-bbd3-4a75-8e90-d639bbe26822.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe3b5efe-bbd3-4a75-8e90-d639bbe26822.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																				<td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f447efc9-f4f4-46c0-b2ad-e281bdde5f53.html" target="element">  </a> </td>
																				<td> <a href="../elements/f447efc9-f4f4-46c0-b2ad-e281bdde5f53.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/c19fce14-ddad-4d6c-8821-20284caa66e3.html" target="element"> N3Pattern </a> </td>
																				<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/772aff47-23d3-4383-92ce-9449cf623507.html" target="element">  </a> </td>
																		<td> <a href="../elements/772aff47-23d3-4383-92ce-9449cf623507.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/092afa0c-a1d3-4489-8094-6526f7ac8552.html" target="element"> Knowldge Engineering </a> </td>
																		<td> <a href="../elements/7e655e26-b33b-4446-8c89-693a5ae3e3dd.html" target="element"> Agreements about the world </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/738ff8f7-448e-4989-aa78-6b109e4f4648.html" target="element">  </a> </td>
																		<td> <a href="../elements/738ff8f7-448e-4989-aa78-6b109e4f4648.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/092afa0c-a1d3-4489-8094-6526f7ac8552.html" target="element"> Knowldge Engineering </a> </td>
																		<td> <a href="../elements/bec8f10c-1665-4627-b2a9-28d8c20be938.html" target="element"> OWL </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/043f055e-64ce-4a2b-94b2-7b5adcdf387b.html" target="element">  </a> </td>
																				<td> <a href="../elements/043f055e-64ce-4a2b-94b2-7b5adcdf387b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/bec8f10c-1665-4627-b2a9-28d8c20be938.html" target="element"> OWL </a> </td>
																				<td> <a href="../elements/7e655e26-b33b-4446-8c89-693a5ae3e3dd.html" target="element"> Agreements about the world </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>