<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Planning</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Planning</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/5e7c3f6a-2c84-4c30-ae00-e21b757f4d47.png" alt="Planning" usemap="#5e7c3f6a-2c84-4c30-ae00-e21b757f4d47map">
			<map name="5e7c3f6a-2c84-4c30-ae00-e21b757f4d47map">
						<area shape="rect" coords="15,10,136,68" href="../elements/dcae5628-d015-4db6-9e11-cf59b2143ca1.html"  target="element">
						<area shape="rect" coords="10,91,130,146" href="../elements/32a97887-4e55-4e59-8c34-7accb28135f5.html"  target="element">
								<area shape="rect" coords="46,650,166,705" href="../elements/00955e81-124a-4683-8eb5-88731e86e55c.html"  target="element">
								<area shape="rect" coords="226,650,346,705" href="../elements/1b5cc273-706a-4626-a7bf-05d3ee0161b0.html"  target="element">
								<area shape="rect" coords="142,566,262,621" href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html"  target="element">
								<area shape="rect" coords="226,734,346,789" href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html"  target="element">
								<area shape="rect" coords="46,734,166,789" href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html"  target="element">

						<area shape="rect" coords="10,530,395,855" href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html"  target="element">
						<area shape="rect" coords="159,10,279,65" href="../elements/b6bc4d3b-0333-4e2a-b7da-6807d59eeca0.html"  target="element">
						<area shape="rect" coords="159,91,279,146" href="../elements/c8e90f89-19b9-4746-b58c-202bf22d4956.html"  target="element">
										<area shape="rect" coords="759,278,879,333" href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html"  target="element">
										<area shape="rect" coords="759,398,879,453" href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html"  target="element">
										<area shape="rect" coords="687,348,702,363" href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html"  target="element">

								<area shape="rect" coords="651,230,914,483" href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html"  target="element">
								<area shape="rect" coords="939,242,1059,297" href="../elements/eeeb01b3-1612-43da-b79a-a046ae465eb9.html"  target="element">
								<area shape="rect" coords="507,242,627,297" href="../elements/0c14e991-6f8a-4c58-a7fd-e04dfa0137b2.html"  target="element">
								<area shape="rect" coords="507,404,627,459" href="../elements/c0b5dbc7-fec8-438f-9395-160818f7a1e7.html"  target="element">

						<area shape="rect" coords="483,182,1095,518" href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html"  target="element">
								<area shape="rect" coords="735,46,855,101" href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html"  target="element">

						<area shape="rect" coords="699,10,905,146" href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html"  target="element">
						<area shape="rect" coords="579,566,689,626" href="../elements/1f622954-c99a-42ee-a5c9-5d0fb2926ce1.html"  target="element">
						<area shape="rect" coords="507,665,627,720" href="../elements/2dd15655-a5e3-41f6-a8b2-8d29c6cb6d89.html"  target="element">
						<area shape="rect" coords="639,665,759,720" href="../elements/c220c3b7-e925-4fb4-8671-999f53177c73.html"  target="element">
								<area shape="rect" coords="183,422,303,477" href="../elements/d42c3293-d8df-4424-9a26-a12f6ab40f79.html"  target="element">
								<area shape="rect" coords="39,422,159,477" href="../elements/3d139021-00b9-4613-9c06-a7102f9e9663.html"  target="element">
								<area shape="rect" coords="99,326,219,381" href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html"  target="element">

						<area shape="rect" coords="15,290,315,506" href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html"  target="element">
						<area shape="rect" coords="879,568,999,625" href="../elements/76ebf0cb-7958-4ebb-b827-195a6257f42e.html"  target="element">
						<area shape="rect" coords="819,665,939,720" href="../elements/1c9f45c0-4d5c-40af-a57f-cabe7f9d4ec4.html"  target="element">
						<area shape="rect" coords="963,665,1083,720" href="../elements/b8b4fde0-9328-4c59-a83a-64b37a0127f5.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/dcae5628-d015-4db6-9e11-cf59b2143ca1.html" target="element"> Expose valid state transitions </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											<tr><td> <a href="../elements/32a97887-4e55-4e59-8c34-7accb28135f5.html" target="element"> Manage Intentions </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											<tr><td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/00955e81-124a-4683-8eb5-88731e86e55c.html" target="element"> Utility based planning </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/1b5cc273-706a-4626-a7bf-05d3ee0161b0.html" target="element"> Goal based planning </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
													<tr><td> <a href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html" target="element"> Transition Map </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html" target="element"> Plan </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/b6bc4d3b-0333-4e2a-b7da-6807d59eeca0.html" target="element"> Build transition Map </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											<tr><td> <a href="../elements/c8e90f89-19b9-4746-b58c-202bf22d4956.html" target="element"> Execute Transition </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											<tr><td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html" target="element"> Effect </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html" target="element"> Previous State </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html" target="element"> Next State </a> </td><td class="i18n-elementtype-Representation"></td></tr>
															<tr><td> <a href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
													
													<tr><td> <a href="../elements/eeeb01b3-1612-43da-b79a-a046ae465eb9.html" target="element"> PostCondition </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/0c14e991-6f8a-4c58-a7fd-e04dfa0137b2.html" target="element"> Precondition </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/c0b5dbc7-fec8-438f-9395-160818f7a1e7.html" target="element"> State transition Attributes (cost) </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/1f622954-c99a-42ee-a5c9-5d0fb2926ce1.html" target="element"> Rule </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/2dd15655-a5e3-41f6-a8b2-8d29c6cb6d89.html" target="element"> RestDesc description </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/c220c3b7-e925-4fb4-8671-999f53177c73.html" target="element"> Non RestDesc transitions </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html" target="element"> Intentions </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/d42c3293-d8df-4424-9a26-a12f6ab40f79.html" target="element"> Utility Function </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/3d139021-00b9-4613-9c06-a7102f9e9663.html" target="element"> Goal State </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html" target="element"> Intention </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/76ebf0cb-7958-4ebb-b827-195a6257f42e.html" target="element"> Generic Software Components </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/1c9f45c0-4d5c-40af-a57f-cabe7f9d4ec4.html" target="element"> FNO </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/b8b4fde0-9328-4c59-a83a-64b37a0127f5.html" target="element"> Component JS </a> </td><td class="i18n-elementtype-DataObject"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f8c3fdc5-2425-4ecf-a49a-36b7946a3a3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/f8c3fdc5-2425-4ecf-a49a-36b7946a3a3f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																		<td> <a href="../elements/1b5cc273-706a-4626-a7bf-05d3ee0161b0.html" target="element"> Goal based planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c99ebe04-1ee6-4633-a5a4-faba7ac6f3d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c99ebe04-1ee6-4633-a5a4-faba7ac6f3d1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																		<td> <a href="../elements/00955e81-124a-4683-8eb5-88731e86e55c.html" target="element"> Utility based planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/79746f73-38dc-4c5e-8580-f4e05dd122dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/79746f73-38dc-4c5e-8580-f4e05dd122dc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																		<td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/76ad9692-b64d-40e8-b124-1d555ddb777a.html" target="element">  </a> </td>
																		<td> <a href="../elements/76ad9692-b64d-40e8-b124-1d555ddb777a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																		<td> <a href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html" target="element"> Transition Map </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5b254c63-6e6c-4a27-b7d8-bdbefaf99144.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b254c63-6e6c-4a27-b7d8-bdbefaf99144.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																		<td> <a href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html" target="element"> Plan </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/4346c21f-6ea5-4a76-b308-702348bd8a7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/4346c21f-6ea5-4a76-b308-702348bd8a7e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/00955e81-124a-4683-8eb5-88731e86e55c.html" target="element"> Utility based planning </a> </td>
																				<td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a8de68a3-d7b3-4075-bd24-4a85df9e429c.html" target="element">  </a> </td>
																				<td> <a href="../elements/a8de68a3-d7b3-4075-bd24-4a85df9e429c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/1b5cc273-706a-4626-a7bf-05d3ee0161b0.html" target="element"> Goal based planning </a> </td>
																				<td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ada2e20a-fffb-4875-959e-4b453f558834.html" target="element"> Composed by </a> </td>
																				<td> <a href="../elements/ada2e20a-fffb-4875-959e-4b453f558834.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html" target="element"> Transition Map </a> </td>
																				<td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d4c4b437-831f-4864-b59c-91ab2c07a8c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/d4c4b437-831f-4864-b59c-91ab2c07a8c5.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/e0f742ef-b6d5-44af-821b-d8282719b84d.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/8508686b-cd68-4372-8122-548dd0c556ef.html" target="element"> Transition Map </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c8b73b1b-b3df-47ce-9a14-7056fd70e9d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8b73b1b-b3df-47ce-9a14-7056fd70e9d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td>
																		<td> <a href="../elements/0c14e991-6f8a-4c58-a7fd-e04dfa0137b2.html" target="element"> Precondition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd5090ca-6221-4baa-ab02-85fab3a0ff99.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd5090ca-6221-4baa-ab02-85fab3a0ff99.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td>
																		<td> <a href="../elements/eeeb01b3-1612-43da-b79a-a046ae465eb9.html" target="element"> PostCondition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/293090ac-795f-488e-afe1-5374319654e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/293090ac-795f-488e-afe1-5374319654e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td>
																		<td> <a href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html" target="element"> Effect </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/04ebeea6-8fbe-42e0-b659-fa0e79822bd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/04ebeea6-8fbe-42e0-b659-fa0e79822bd2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td>
																		<td> <a href="../elements/c0b5dbc7-fec8-438f-9395-160818f7a1e7.html" target="element"> State transition Attributes (cost) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74a603b0-0a49-4f88-90eb-ea404323a56e.html" target="element"> Represented through </a> </td>
																		<td> <a href="../elements/74a603b0-0a49-4f88-90eb-ea404323a56e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td>
																		<td> <a href="../elements/1f622954-c99a-42ee-a5c9-5d0fb2926ce1.html" target="element"> Rule </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/29db7056-7176-4a1c-a46c-088705ce9805.html" target="element">  </a> </td>
																				<td> <a href="../elements/29db7056-7176-4a1c-a46c-088705ce9805.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html" target="element"> Effect </a> </td>
																				<td> <a href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html" target="element"> Previous State </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1505d157-a0f4-4320-bfc4-d2695d32674c.html" target="element">  </a> </td>
																				<td> <a href="../elements/1505d157-a0f4-4320-bfc4-d2695d32674c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d762dcc1-97da-499e-85cc-5c72ed83c1a6.html" target="element"> Effect </a> </td>
																				<td> <a href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html" target="element"> Next State </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/701b7313-9b44-4d39-927c-db1f2bab8dae.html" target="element">  </a> </td>
																						<td> <a href="../elements/701b7313-9b44-4d39-927c-db1f2bab8dae.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html" target="element"> Junction </a> </td>
																						<td> <a href="../elements/8e70fa58-18e1-4a6d-b485-9f893d2f5852.html" target="element"> Next State </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/851f6805-e5ab-4cb2-9242-31d13734aeb7.html" target="element">  </a> </td>
																						<td> <a href="../elements/851f6805-e5ab-4cb2-9242-31d13734aeb7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/72e39788-8844-464d-b3ea-5a2c473df8a2.html" target="element"> Junction </a> </td>
																						<td> <a href="../elements/19ff15f3-232a-4241-bd5d-f10f611a4408.html" target="element"> Previous State </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/14a17356-478a-4737-b762-4414b4f64a7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/14a17356-478a-4737-b762-4414b4f64a7d.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/eeeb01b3-1612-43da-b79a-a046ae465eb9.html" target="element"> PostCondition </a> </td>
																				<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bc054d2b-0739-4883-af16-ace5de256006.html" target="element">  </a> </td>
																				<td> <a href="../elements/bc054d2b-0739-4883-af16-ace5de256006.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/0c14e991-6f8a-4c58-a7fd-e04dfa0137b2.html" target="element"> Precondition </a> </td>
																				<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c6800e9a-2ef7-4f79-a390-d9ee65bf70ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6800e9a-2ef7-4f79-a390-d9ee65bf70ef.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td>
																		<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fe3b5efe-bbd3-4a75-8e90-d639bbe26822.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe3b5efe-bbd3-4a75-8e90-d639bbe26822.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/48be03b1-9d66-4d06-906d-8b28f9ed85ea.html" target="element"> Pattern </a> </td>
																				<td> <a href="../elements/06e92d4d-26ea-41b0-adfb-020bb71ea437.html" target="element"> Patterns and Schemas </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/cf2ca37c-5687-4d4f-a5ce-d145c99233ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf2ca37c-5687-4d4f-a5ce-d145c99233ee.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/2dd15655-a5e3-41f6-a8b2-8d29c6cb6d89.html" target="element"> RestDesc description </a> </td>
																		<td> <a href="../elements/1f622954-c99a-42ee-a5c9-5d0fb2926ce1.html" target="element"> Rule </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d378872c-b113-4101-afcb-801d5b2b72d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/d378872c-b113-4101-afcb-801d5b2b72d2.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/c220c3b7-e925-4fb4-8671-999f53177c73.html" target="element"> Non RestDesc transitions </a> </td>
																		<td> <a href="../elements/1f622954-c99a-42ee-a5c9-5d0fb2926ce1.html" target="element"> Rule </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cf334b23-cec8-4829-9c59-b6122ec7737e.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf334b23-cec8-4829-9c59-b6122ec7737e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html" target="element"> Intentions </a> </td>
																		<td> <a href="../elements/d42c3293-d8df-4424-9a26-a12f6ab40f79.html" target="element"> Utility Function </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e99f0b1-8892-4865-8674-418765ec1444.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e99f0b1-8892-4865-8674-418765ec1444.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html" target="element"> Intentions </a> </td>
																		<td> <a href="../elements/3d139021-00b9-4613-9c06-a7102f9e9663.html" target="element"> Goal State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99aec39b-4b9d-40c5-8ca7-2528d8ae0b87.html" target="element">  </a> </td>
																		<td> <a href="../elements/99aec39b-4b9d-40c5-8ca7-2528d8ae0b87.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3e839831-9527-4c3f-8a1b-4cbdce967890.html" target="element"> Intentions </a> </td>
																		<td> <a href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html" target="element"> Intention </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0994ae5d-a5f2-4fd8-b55c-b10b80a2fcf7.html" target="element">  </a> </td>
																				<td> <a href="../elements/0994ae5d-a5f2-4fd8-b55c-b10b80a2fcf7.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/d42c3293-d8df-4424-9a26-a12f6ab40f79.html" target="element"> Utility Function </a> </td>
																				<td> <a href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html" target="element"> Intention </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c1c56b28-f0d2-4443-9695-2447dddb1191.html" target="element"> Calculated from </a> </td>
																				<td> <a href="../elements/c1c56b28-f0d2-4443-9695-2447dddb1191.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/d42c3293-d8df-4424-9a26-a12f6ab40f79.html" target="element"> Utility Function </a> </td>
																				<td> <a href="../elements/c0b5dbc7-fec8-438f-9395-160818f7a1e7.html" target="element"> State transition Attributes (cost) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2b5610a4-0ce0-4380-a473-4fdea14281e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/2b5610a4-0ce0-4380-a473-4fdea14281e3.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/3d139021-00b9-4613-9c06-a7102f9e9663.html" target="element"> Goal State </a> </td>
																				<td> <a href="../elements/533e8c44-95a2-4346-a28c-8e345318b420.html" target="element"> Intention </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8c847823-6ff5-4078-9ae2-b64f0e24cdd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c847823-6ff5-4078-9ae2-b64f0e24cdd5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/76ebf0cb-7958-4ebb-b827-195a6257f42e.html" target="element"> Generic Software Components </a> </td>
																		<td> <a href="../elements/7245b798-be51-476a-ad3e-693bd6d5f462.html" target="element"> State Stransition </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/aebf4e3b-1a33-4e20-97f5-9344958cc67a.html" target="element">  </a> </td>
																		<td> <a href="../elements/aebf4e3b-1a33-4e20-97f5-9344958cc67a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/1c9f45c0-4d5c-40af-a57f-cabe7f9d4ec4.html" target="element"> FNO </a> </td>
																		<td> <a href="../elements/76ebf0cb-7958-4ebb-b827-195a6257f42e.html" target="element"> Generic Software Components </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2c1fbed8-7f9a-48b3-9ee7-e1a50b9a9e40.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c1fbed8-7f9a-48b3-9ee7-e1a50b9a9e40.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/b8b4fde0-9328-4c59-a83a-64b37a0127f5.html" target="element"> Component JS </a> </td>
																		<td> <a href="../elements/76ebf0cb-7958-4ebb-b827-195a6257f42e.html" target="element"> Generic Software Components </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>