<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Querying and reasoning</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Querying and reasoning</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/80b1af2e-e040-4442-ad20-df210af7de20.png" alt="Querying and reasoning" usemap="#80b1af2e-e040-4442-ad20-df210af7de20map">
			<map name="80b1af2e-e040-4442-ad20-df210af7de20map">
								<area shape="rect" coords="694,670,814,725" href="../elements/7c67d032-6287-447a-be2c-22f9750332db.html"  target="element">
								<area shape="rect" coords="874,682,994,737" href="../elements/ed4a2104-e38f-44ca-ab62-55e8ab9272a4.html"  target="element">
								<area shape="rect" coords="598,778,718,833" href="../elements/b7b208a7-c149-40f2-90bd-f72b515c7985.html"  target="element">
								<area shape="rect" coords="442,778,562,833" href="../elements/7912579d-1d7a-4238-bd34-2f5cb9dc107e.html"  target="element">
								<area shape="rect" coords="526,670,646,725" href="../elements/4f91fa80-c3e7-468f-bbcd-e6112328c509.html"  target="element">
								<area shape="rect" coords="910,562,1030,617" href="../elements/9060e4c9-1f6e-4d76-b627-215a8ce3b329.html"  target="element">
								<area shape="rect" coords="706,562,826,617" href="../elements/5eda5922-f004-49e7-9f0d-dc578e6b67e8.html"  target="element">

						<area shape="rect" coords="394,514,1091,863" href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html"  target="element">
								<area shape="rect" coords="586,166,706,221" href="../elements/8b88864f-5ff9-4ebc-be2b-abfd67c67d16.html"  target="element">
								<area shape="rect" coords="730,46,850,101" href="../elements/1f48c756-7225-44ce-a5bc-cb74306c44a4.html"  target="element">
								<area shape="rect" coords="730,166,850,221" href="../elements/ea332155-bb01-48d9-ae67-3f4abf1a330f.html"  target="element">
								<area shape="rect" coords="862,166,982,221" href="../elements/a54bea95-362c-421a-9338-8e24795f4e15.html"  target="element">

						<area shape="rect" coords="538,10,1030,244" href="../elements/9bd3019a-c31d-4b67-9dd2-392c38434fa1.html"  target="element">
								<area shape="rect" coords="46,615,166,670" href="../elements/667c1437-b69f-46e4-b6f1-13a6fd994ec5.html"  target="element">
								<area shape="rect" coords="190,615,310,670" href="../elements/30ef61dc-971d-49cd-860a-41283d096561.html"  target="element">

						<area shape="rect" coords="10,531,334,731" href="../elements/21e0b87d-88d9-4aec-bb7e-adf7b037b843.html"  target="element">
								<area shape="rect" coords="742,355,862,410" href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html"  target="element">
								<area shape="rect" coords="562,355,682,410" href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html"  target="element">
								<area shape="rect" coords="886,355,1006,410" href="../elements/b1f1b40e-aaac-48a1-84f0-faa7bf655823.html"  target="element">

						<area shape="rect" coords="538,307,1055,455" href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html"  target="element">
								<area shape="rect" coords="1246,682,1366,737" href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html"  target="element">
								<area shape="rect" coords="1246,514,1366,569" href="../elements/0060fec1-682c-4797-9e67-263405120013.html"  target="element">
								<area shape="rect" coords="1174,610,1189,625" href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html"  target="element">

						<area shape="rect" coords="1138,466,1390,766" href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html"  target="element">
								<area shape="rect" coords="1234,231,1354,286" href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html"  target="element">
								<area shape="rect" coords="1162,327,1282,382" href="../elements/30f7b17f-d89c-4d5c-9782-c3ddbc70368d.html"  target="element">
								<area shape="rect" coords="1306,327,1426,382" href="../elements/adf1bf9e-c2de-4b75-b68a-03a63418e835.html"  target="element">
								<area shape="rect" coords="1378,231,1498,286" href="../elements/c013de54-637b-4367-9d75-f154eb246beb.html"  target="element">

						<area shape="rect" coords="1138,183,1522,427" href="../elements/31961248-d004-4893-a77c-91153d905f9e.html"  target="element">
								<area shape="rect" coords="22,370,142,425" href="../elements/8b6cdee6-aa4a-4dae-b114-b94f182a2ad6.html"  target="element">
								<area shape="rect" coords="154,370,274,425" href="../elements/3d95eeaa-e408-42c8-8b57-58e234959742.html"  target="element">
								<area shape="rect" coords="83,262,203,317" href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html"  target="element">

						<area shape="rect" coords="10,214,287,455" href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">A resource selection happens when a selector pattern is applied to datasources
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/7c67d032-6287-447a-be2c-22f9750332db.html" target="element"> Index Based Querying </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/ed4a2104-e38f-44ca-ab62-55e8ab9272a4.html" target="element"> Hybrid Query Execution </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/b7b208a7-c149-40f2-90bd-f72b515c7985.html" target="element"> Property-based Link Traversal </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/7912579d-1d7a-4238-bd34-2f5cb9dc107e.html" target="element"> Guided Link Traversal </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/4f91fa80-c3e7-468f-bbcd-e6112328c509.html" target="element"> Link-Traversal </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/9060e4c9-1f6e-4d76-b627-215a8ce3b329.html" target="element"> Versioned Querying </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/5eda5922-f004-49e7-9f0d-dc578e6b67e8.html" target="element"> Querying </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/9bd3019a-c31d-4b67-9dd2-392c38434fa1.html" target="element"> Query Languages </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/8b88864f-5ff9-4ebc-be2b-abfd67c67d16.html" target="element"> SPARQL </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/1f48c756-7225-44ce-a5bc-cb74306c44a4.html" target="element"> Query Language </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/ea332155-bb01-48d9-ae67-3f4abf1a330f.html" target="element"> Route planning query </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/a54bea95-362c-421a-9338-8e24795f4e15.html" target="element"> GraphQL-LD </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/21e0b87d-88d9-4aec-bb7e-adf7b037b843.html" target="element"> File Based and Hierarchical </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/667c1437-b69f-46e4-b6f1-13a6fd994ec5.html" target="element"> Glob pattern on a directory </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/30ef61dc-971d-49cd-860a-41283d096561.html" target="element"> Linked data Platform </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Selector Pattern </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/b1f1b40e-aaac-48a1-84f0-faa7bf655823.html" target="element"> Query Service </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											
											<tr><td> <a href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html" target="element"> Query </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Current State </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> State of the world </a> </td><td class="i18n-elementtype-Representation"></td></tr>
													<tr><td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td><td class="i18n-elementtype-Junction"></td></tr>
											
											<tr><td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/30f7b17f-d89c-4d5c-9782-c3ddbc70368d.html" target="element"> TPF Server </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/adf1bf9e-c2de-4b75-b68a-03a63418e835.html" target="element"> SPARQL Server </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
													<tr><td> <a href="../elements/c013de54-637b-4367-9d75-f154eb246beb.html" target="element"> Provide RDF Interface </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/8b6cdee6-aa4a-4dae-b114-b94f182a2ad6.html" target="element"> Belief Revision </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/3d95eeaa-e408-42c8-8b57-58e234959742.html" target="element"> Classical Reasoning </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html" target="element"> Reasoning </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b9139204-0b53-454c-b69e-56656421aaf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9139204-0b53-454c-b69e-56656421aaf5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/b7b208a7-c149-40f2-90bd-f72b515c7985.html" target="element"> Property-based Link Traversal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f030de85-f622-4666-8d2c-7eaf58631201.html" target="element">  </a> </td>
																		<td> <a href="../elements/f030de85-f622-4666-8d2c-7eaf58631201.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/4f91fa80-c3e7-468f-bbcd-e6112328c509.html" target="element"> Link-Traversal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/91f7117e-794a-4c24-bafe-f77c0cc84bc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/91f7117e-794a-4c24-bafe-f77c0cc84bc5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/7912579d-1d7a-4238-bd34-2f5cb9dc107e.html" target="element"> Guided Link Traversal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb8ea89a-c02e-47fa-98a2-8f96337aebc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb8ea89a-c02e-47fa-98a2-8f96337aebc8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/9060e4c9-1f6e-4d76-b627-215a8ce3b329.html" target="element"> Versioned Querying </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67256aa8-f476-43e4-b7ea-ba1c5b91fa37.html" target="element">  </a> </td>
																		<td> <a href="../elements/67256aa8-f476-43e4-b7ea-ba1c5b91fa37.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/7c67d032-6287-447a-be2c-22f9750332db.html" target="element"> Index Based Querying </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27255850-6888-46c5-8664-772a40b87a64.html" target="element">  </a> </td>
																		<td> <a href="../elements/27255850-6888-46c5-8664-772a40b87a64.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/ed4a2104-e38f-44ca-ab62-55e8ab9272a4.html" target="element"> Hybrid Query Execution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e80af0e1-5be5-4625-9778-5f6cae55929f.html" target="element">  </a> </td>
																		<td> <a href="../elements/e80af0e1-5be5-4625-9778-5f6cae55929f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/5eda5922-f004-49e7-9f0d-dc578e6b67e8.html" target="element"> Querying </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6175e3ca-9cde-460e-9333-71e30194bf81.html" target="element">  </a> </td>
																		<td> <a href="../elements/6175e3ca-9cde-460e-9333-71e30194bf81.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/35c412ff-7fa7-4bcd-bdf1-998d3bf2d436.html" target="element"> Querying </a> </td>
																		<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/cb6ce932-962c-4c62-aba3-43d550768cff.html" target="element">  </a> </td>
																				<td> <a href="../elements/cb6ce932-962c-4c62-aba3-43d550768cff.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/7c67d032-6287-447a-be2c-22f9750332db.html" target="element"> Index Based Querying </a> </td>
																				<td> <a href="../elements/5eda5922-f004-49e7-9f0d-dc578e6b67e8.html" target="element"> Querying </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/95a39113-4275-4e22-9126-dee6e924c6fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/95a39113-4275-4e22-9126-dee6e924c6fa.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/ed4a2104-e38f-44ca-ab62-55e8ab9272a4.html" target="element"> Hybrid Query Execution </a> </td>
																				<td> <a href="../elements/5eda5922-f004-49e7-9f0d-dc578e6b67e8.html" target="element"> Querying </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5dbe4729-d079-4213-94b1-2fc1fbeb2883.html" target="element">  </a> </td>
																				<td> <a href="../elements/5dbe4729-d079-4213-94b1-2fc1fbeb2883.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/b7b208a7-c149-40f2-90bd-f72b515c7985.html" target="element"> Property-based Link Traversal </a> </td>
																				<td> <a href="../elements/4f91fa80-c3e7-468f-bbcd-e6112328c509.html" target="element"> Link-Traversal </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/34baee7e-23c3-4710-81d9-99c0aea65a0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/34baee7e-23c3-4710-81d9-99c0aea65a0f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/7912579d-1d7a-4238-bd34-2f5cb9dc107e.html" target="element"> Guided Link Traversal </a> </td>
																				<td> <a href="../elements/4f91fa80-c3e7-468f-bbcd-e6112328c509.html" target="element"> Link-Traversal </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/067e4e36-a618-432d-9adb-5890b9727a7a.html" target="element">  </a> </td>
																				<td> <a href="../elements/067e4e36-a618-432d-9adb-5890b9727a7a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/4f91fa80-c3e7-468f-bbcd-e6112328c509.html" target="element"> Link-Traversal </a> </td>
																				<td> <a href="../elements/5eda5922-f004-49e7-9f0d-dc578e6b67e8.html" target="element"> Querying </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5511f153-b630-4bdd-b8e5-049e11e55200.html" target="element">  </a> </td>
																				<td> <a href="../elements/5511f153-b630-4bdd-b8e5-049e11e55200.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/9060e4c9-1f6e-4d76-b627-215a8ce3b329.html" target="element"> Versioned Querying </a> </td>
																				<td> <a href="../elements/5eda5922-f004-49e7-9f0d-dc578e6b67e8.html" target="element"> Querying </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ca08f791-08ca-4fd8-984c-e7035037aa98.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca08f791-08ca-4fd8-984c-e7035037aa98.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9bd3019a-c31d-4b67-9dd2-392c38434fa1.html" target="element"> Query Languages </a> </td>
																		<td> <a href="../elements/8b88864f-5ff9-4ebc-be2b-abfd67c67d16.html" target="element"> SPARQL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/337795d6-b444-45c4-8bc9-cd6a379e4ef1.html" target="element">  </a> </td>
																		<td> <a href="../elements/337795d6-b444-45c4-8bc9-cd6a379e4ef1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9bd3019a-c31d-4b67-9dd2-392c38434fa1.html" target="element"> Query Languages </a> </td>
																		<td> <a href="../elements/ea332155-bb01-48d9-ae67-3f4abf1a330f.html" target="element"> Route planning query </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b1d20532-7ad5-4591-9075-62606c4ef0aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1d20532-7ad5-4591-9075-62606c4ef0aa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9bd3019a-c31d-4b67-9dd2-392c38434fa1.html" target="element"> Query Languages </a> </td>
																		<td> <a href="../elements/a54bea95-362c-421a-9338-8e24795f4e15.html" target="element"> GraphQL-LD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c6cbbc4c-8e86-48fe-ab7d-440534f41cff.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6cbbc4c-8e86-48fe-ab7d-440534f41cff.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9bd3019a-c31d-4b67-9dd2-392c38434fa1.html" target="element"> Query Languages </a> </td>
																		<td> <a href="../elements/1f48c756-7225-44ce-a5bc-cb74306c44a4.html" target="element"> Query Language </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/dd812b6f-3984-44c2-b782-9806c3016b92.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd812b6f-3984-44c2-b782-9806c3016b92.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/8b88864f-5ff9-4ebc-be2b-abfd67c67d16.html" target="element"> SPARQL </a> </td>
																				<td> <a href="../elements/1f48c756-7225-44ce-a5bc-cb74306c44a4.html" target="element"> Query Language </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6a719057-9531-4173-8a39-07c4be580109.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a719057-9531-4173-8a39-07c4be580109.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/ea332155-bb01-48d9-ae67-3f4abf1a330f.html" target="element"> Route planning query </a> </td>
																				<td> <a href="../elements/1f48c756-7225-44ce-a5bc-cb74306c44a4.html" target="element"> Query Language </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/73084cf0-1a70-42c4-8047-cb8d09c1f7bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/73084cf0-1a70-42c4-8047-cb8d09c1f7bc.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/a54bea95-362c-421a-9338-8e24795f4e15.html" target="element"> GraphQL-LD </a> </td>
																				<td> <a href="../elements/1f48c756-7225-44ce-a5bc-cb74306c44a4.html" target="element"> Query Language </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/03284a58-7bed-4827-b7dd-346ba869a1f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/03284a58-7bed-4827-b7dd-346ba869a1f7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/21e0b87d-88d9-4aec-bb7e-adf7b037b843.html" target="element"> File Based and Hierarchical </a> </td>
																		<td> <a href="../elements/667c1437-b69f-46e4-b6f1-13a6fd994ec5.html" target="element"> Glob pattern on a directory </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a425c80-584d-4a50-b0e9-460749663447.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a425c80-584d-4a50-b0e9-460749663447.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/21e0b87d-88d9-4aec-bb7e-adf7b037b843.html" target="element"> File Based and Hierarchical </a> </td>
																		<td> <a href="../elements/30ef61dc-971d-49cd-860a-41283d096561.html" target="element"> Linked data Platform </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea536e3d-d75c-4297-aae2-697085fe9a7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea536e3d-d75c-4297-aae2-697085fe9a7b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/21e0b87d-88d9-4aec-bb7e-adf7b037b843.html" target="element"> File Based and Hierarchical </a> </td>
																		<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/cc60f878-bd11-4972-8bb3-590c1dfd2322.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc60f878-bd11-4972-8bb3-590c1dfd2322.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																		<td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Selector Pattern </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element">  </a> </td>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																		<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e3cef10-3701-4cef-abd7-507166d8d5be.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e3cef10-3701-4cef-abd7-507166d8d5be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																		<td> <a href="../elements/b1f1b40e-aaac-48a1-84f0-faa7bf655823.html" target="element"> Query Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/dda8b51c-51d0-4fa7-84db-96eb8271af6d.html" target="element">  </a> </td>
																				<td> <a href="../elements/dda8b51c-51d0-4fa7-84db-96eb8271af6d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/b1f1b40e-aaac-48a1-84f0-faa7bf655823.html" target="element"> Query Service </a> </td>
																				<td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/0a068654-352b-4745-8d09-4b01c4731255.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a068654-352b-4745-8d09-4b01c4731255.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html" target="element"> Query </a> </td>
																		<td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Current State </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de3645d1-e06d-4e02-bf32-2efc200e7b12.html" target="element">  </a> </td>
																		<td> <a href="../elements/de3645d1-e06d-4e02-bf32-2efc200e7b12.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/592b70d0-387c-4788-b677-f9d8f631fc32.html" target="element"> Query </a> </td>
																		<td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> State of the world </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8ac8575b-7e48-4cdf-a565-96a8f154002f.html" target="element">  </a> </td>
																				<td> <a href="../elements/8ac8575b-7e48-4cdf-a565-96a8f154002f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> State of the world </a> </td>
																				<td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Current State </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4d77cc35-be81-42c1-b67e-855ce2aa0564.html" target="element"> filters </a> </td>
																				<td> <a href="../elements/4d77cc35-be81-42c1-b67e-855ce2aa0564.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/036d30e9-7675-4876-bb68-c6e27f7de570.html" target="element"> Current State </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8df23f47-5c8d-40f8-84e4-fd7f0c6f5593.html" target="element"> retrieves </a> </td>
																				<td> <a href="../elements/8df23f47-5c8d-40f8-84e4-fd7f0c6f5593.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/9db8f56e-0fe1-4a68-9392-3261aec38036.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/0060fec1-682c-4797-9e67-263405120013.html" target="element"> State of the world </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/e91a1790-0047-41da-864a-e8e660192cd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/e91a1790-0047-41da-864a-e8e660192cd5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td>
																		<td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/95255a50-bd83-4c8e-b62f-c56d4feabd15.html" target="element">  </a> </td>
																		<td> <a href="../elements/95255a50-bd83-4c8e-b62f-c56d4feabd15.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td>
																		<td> <a href="../elements/30f7b17f-d89c-4d5c-9782-c3ddbc70368d.html" target="element"> TPF Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a229568-f723-44f5-a6c2-6d8ea45dc26b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a229568-f723-44f5-a6c2-6d8ea45dc26b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td>
																		<td> <a href="../elements/adf1bf9e-c2de-4b75-b68a-03a63418e835.html" target="element"> SPARQL Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e2300e1-d058-4415-87ec-eea8fd8fd388.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e2300e1-d058-4415-87ec-eea8fd8fd388.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td>
																		<td> <a href="../elements/c013de54-637b-4367-9d75-f154eb246beb.html" target="element"> Provide RDF Interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a7191b98-dc38-42f3-8281-186db2b18317.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7191b98-dc38-42f3-8281-186db2b18317.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td>
																		<td> <a href="../elements/9bd3019a-c31d-4b67-9dd2-392c38434fa1.html" target="element"> Query Languages </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/1a308f3e-c6a7-415e-948d-74f58e832cf9.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a308f3e-c6a7-415e-948d-74f58e832cf9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td>
																				<td> <a href="../elements/b1f1b40e-aaac-48a1-84f0-faa7bf655823.html" target="element"> Query Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c7f84f94-ff87-4ff7-8868-480e241b6ad5.html" target="element">  </a> </td>
																				<td> <a href="../elements/c7f84f94-ff87-4ff7-8868-480e241b6ad5.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/30f7b17f-d89c-4d5c-9782-c3ddbc70368d.html" target="element"> TPF Server </a> </td>
																				<td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9d9ea023-bc1a-4995-854f-c13a1ad6f503.html" target="element">  </a> </td>
																				<td> <a href="../elements/9d9ea023-bc1a-4995-854f-c13a1ad6f503.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/adf1bf9e-c2de-4b75-b68a-03a63418e835.html" target="element"> SPARQL Server </a> </td>
																				<td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ea030fa9-8af6-42fa-986a-e865c9ee207a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea030fa9-8af6-42fa-986a-e865c9ee207a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td>
																		<td> <a href="../elements/3d95eeaa-e408-42c8-8b57-58e234959742.html" target="element"> Classical Reasoning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1d6e54d-0c57-4469-8901-f809f7262227.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1d6e54d-0c57-4469-8901-f809f7262227.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td>
																		<td> <a href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html" target="element"> Reasoning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0911c658-14c8-4d2e-aa0b-6f1d2920f9ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/0911c658-14c8-4d2e-aa0b-6f1d2920f9ab.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td>
																		<td> <a href="../elements/8b6cdee6-aa4a-4dae-b114-b94f182a2ad6.html" target="element"> Belief Revision </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/82f73dc4-7d52-46b4-89b7-e52ba4337646.html" target="element">  </a> </td>
																		<td> <a href="../elements/82f73dc4-7d52-46b4-89b7-e52ba4337646.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6d41a965-a0de-4345-9eff-325c320edca6.html" target="element"> Reasoning </a> </td>
																		<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/4333aeb1-a6f6-4d78-b19c-0e088a4e517f.html" target="element">  </a> </td>
																				<td> <a href="../elements/4333aeb1-a6f6-4d78-b19c-0e088a4e517f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/8b6cdee6-aa4a-4dae-b114-b94f182a2ad6.html" target="element"> Belief Revision </a> </td>
																				<td> <a href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html" target="element"> Reasoning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2230fbc0-00ed-475e-afcd-6d3100039012.html" target="element">  </a> </td>
																				<td> <a href="../elements/2230fbc0-00ed-475e-afcd-6d3100039012.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/3d95eeaa-e408-42c8-8b57-58e234959742.html" target="element"> Classical Reasoning </a> </td>
																				<td> <a href="../elements/d1f7f434-a0d0-4a15-ac65-4543a6406b5f.html" target="element"> Reasoning </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>