<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Execute Control</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Execute Control</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/941d4c95-9a4c-41e0-b354-2d08aa178f44.png" alt="Execute Control" usemap="#941d4c95-9a4c-41e0-b354-2d08aa178f44map">
			<map name="941d4c95-9a4c-41e0-b354-2d08aa178f44map">
								<area shape="rect" coords="244,249,364,304" href="../elements/139ff351-626e-4d74-baf1-f883a386e9ac.html"  target="element">
								<area shape="rect" coords="532,249,652,304" href="../elements/ac9733c1-2a8d-4f01-8387-656f61e3e925.html"  target="element">
								<area shape="rect" coords="904,249,1024,304" href="../elements/254feade-576b-4a00-9fb9-45c407128b43.html"  target="element">
								<area shape="rect" coords="712,249,832,304" href="../elements/ae74593b-5298-4c55-a4a3-f0cfade32bc3.html"  target="element">

						<area shape="rect" coords="184,189,1079,371" href="../elements/d5ef5369-f111-4c4c-88af-581618d6e11e.html"  target="element">
						<area shape="rect" coords="10,252,130,307" href="../elements/2c130eb0-8e3d-47ca-96ea-09852f5f5795.html"  target="element">
						<area shape="rect" coords="1150,252,1270,307" href="../elements/277726e0-5521-4a37-b6d7-17db6301277f.html"  target="element">
								<area shape="rect" coords="238,435,358,490" href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html"  target="element">

						<area shape="rect" coords="202,399,389,527" href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html"  target="element">
								<area shape="rect" coords="820,58,940,113" href="../elements/a04a4549-500e-478d-a03b-ea671195deaa.html"  target="element">
								<area shape="rect" coords="988,58,1108,113" href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html"  target="element">

						<area shape="rect" coords="784,10,1133,150" href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html"  target="element">
								<area shape="rect" coords="234,58,354,113" href="../elements/e44ba225-e268-496e-9f6b-107d2f524cc0.html"  target="element">
								<area shape="rect" coords="534,58,654,113" href="../elements/a6eae27f-bced-49a4-820f-ef9cefb9d291.html"  target="element">

						<area shape="rect" coords="186,10,702,150" href="../elements/08112a97-b3b2-41a4-b0fc-108a919e7fc1.html"  target="element">
								<area shape="rect" coords="382,622,503,683" href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html"  target="element">
								<area shape="rect" coords="214,625,334,680" href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html"  target="element">
								<area shape="rect" coords="538,625,658,680" href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html"  target="element">

						<area shape="rect" coords="190,574,697,707" href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html"  target="element">
						<area shape="rect" coords="538,442,658,497" href="../elements/33465d0b-b7b6-4dbb-a1f8-e75e9dd6426d.html"  target="element">
								<area shape="rect" coords="898,466,1018,521" href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html"  target="element">

						<area shape="rect" coords="862,430,1055,563" href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/d5ef5369-f111-4c4c-88af-581618d6e11e.html" target="element"> Execute Hypermedia Control </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/139ff351-626e-4d74-baf1-f883a386e9ac.html" target="element"> Gather resources </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/ac9733c1-2a8d-4f01-8387-656f61e3e925.html" target="element"> Generate Execution plan </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/254feade-576b-4a00-9fb9-45c407128b43.html" target="element"> Execute </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/ae74593b-5298-4c55-a4a3-f0cfade32bc3.html" target="element"> Populate Execution plan </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/2c130eb0-8e3d-47ca-96ea-09852f5f5795.html" target="element"> Resolve Hypermedia Specs </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/277726e0-5521-4a37-b6d7-17db6301277f.html" target="element"> Consolidate State </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											<tr><td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/a04a4549-500e-478d-a03b-ea671195deaa.html" target="element"> Execution Response </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/08112a97-b3b2-41a4-b0fc-108a919e7fc1.html" target="element"> Agent Runtime Memory </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/e44ba225-e268-496e-9f6b-107d2f524cc0.html" target="element"> RDF Data or URLs </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/a6eae27f-bced-49a4-820f-ef9cefb9d291.html" target="element"> Execution plan </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Source Selection Pattern </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/33465d0b-b7b6-4dbb-a1f8-e75e9dd6426d.html" target="element"> Instantiate execution plan </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											<tr><td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines and services </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a25ad62e-0771-4cff-b4ec-cf087bf5fb74.html" target="element">  </a> </td>
																		<td> <a href="../elements/a25ad62e-0771-4cff-b4ec-cf087bf5fb74.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d5ef5369-f111-4c4c-88af-581618d6e11e.html" target="element"> Execute Hypermedia Control </a> </td>
																		<td> <a href="../elements/ac9733c1-2a8d-4f01-8387-656f61e3e925.html" target="element"> Generate Execution plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c715bf83-1e1b-49f8-8f1b-f5b91edc8c89.html" target="element">  </a> </td>
																		<td> <a href="../elements/c715bf83-1e1b-49f8-8f1b-f5b91edc8c89.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d5ef5369-f111-4c4c-88af-581618d6e11e.html" target="element"> Execute Hypermedia Control </a> </td>
																		<td> <a href="../elements/254feade-576b-4a00-9fb9-45c407128b43.html" target="element"> Execute </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7285723a-f22c-4880-b1de-013f1ec6fc68.html" target="element">  </a> </td>
																		<td> <a href="../elements/7285723a-f22c-4880-b1de-013f1ec6fc68.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/d5ef5369-f111-4c4c-88af-581618d6e11e.html" target="element"> Execute Hypermedia Control </a> </td>
																		<td> <a href="../elements/277726e0-5521-4a37-b6d7-17db6301277f.html" target="element"> Consolidate State </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/106a8158-6cff-459c-b5d7-4619207cf7ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/106a8158-6cff-459c-b5d7-4619207cf7ef.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/139ff351-626e-4d74-baf1-f883a386e9ac.html" target="element"> Gather resources </a> </td>
																				<td> <a href="../elements/e44ba225-e268-496e-9f6b-107d2f524cc0.html" target="element"> RDF Data or URLs </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c6bfdba2-4a01-403c-98c2-2c7dad992899.html" target="element">  </a> </td>
																				<td> <a href="../elements/c6bfdba2-4a01-403c-98c2-2c7dad992899.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/139ff351-626e-4d74-baf1-f883a386e9ac.html" target="element"> Gather resources </a> </td>
																				<td> <a href="../elements/ac9733c1-2a8d-4f01-8387-656f61e3e925.html" target="element"> Generate Execution plan </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/32851ef4-c312-48fb-80f9-c658ef7cf805.html" target="element">  </a> </td>
																				<td> <a href="../elements/32851ef4-c312-48fb-80f9-c658ef7cf805.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/ac9733c1-2a8d-4f01-8387-656f61e3e925.html" target="element"> Generate Execution plan </a> </td>
																				<td> <a href="../elements/a6eae27f-bced-49a4-820f-ef9cefb9d291.html" target="element"> Execution plan </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bf30f87b-47d0-48c8-a0ff-1f1e09bed05a.html" target="element">  </a> </td>
																				<td> <a href="../elements/bf30f87b-47d0-48c8-a0ff-1f1e09bed05a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/ac9733c1-2a8d-4f01-8387-656f61e3e925.html" target="element"> Generate Execution plan </a> </td>
																				<td> <a href="../elements/ae74593b-5298-4c55-a4a3-f0cfade32bc3.html" target="element"> Populate Execution plan </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2ea48e8c-bd5b-4940-a015-d8f11e1ec9bf.html" target="element"> generates </a> </td>
																				<td> <a href="../elements/2ea48e8c-bd5b-4940-a015-d8f11e1ec9bf.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/254feade-576b-4a00-9fb9-45c407128b43.html" target="element"> Execute </a> </td>
																				<td> <a href="../elements/a04a4549-500e-478d-a03b-ea671195deaa.html" target="element"> Execution Response </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2e7535a7-b532-4340-af40-490bf01d5800.html" target="element"> Provides </a> </td>
																				<td> <a href="../elements/2e7535a7-b532-4340-af40-490bf01d5800.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/254feade-576b-4a00-9fb9-45c407128b43.html" target="element"> Execute </a> </td>
																				<td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8b6a41ea-1cc9-46fd-9391-e72e9894d58b.html" target="element">  </a> </td>
																				<td> <a href="../elements/8b6a41ea-1cc9-46fd-9391-e72e9894d58b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/ae74593b-5298-4c55-a4a3-f0cfade32bc3.html" target="element"> Populate Execution plan </a> </td>
																				<td> <a href="../elements/254feade-576b-4a00-9fb9-45c407128b43.html" target="element"> Execute </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d22919e3-d96e-4604-8847-6e4be8630610.html" target="element">  </a> </td>
																		<td> <a href="../elements/d22919e3-d96e-4604-8847-6e4be8630610.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/2c130eb0-8e3d-47ca-96ea-09852f5f5795.html" target="element"> Resolve Hypermedia Specs </a> </td>
																		<td> <a href="../elements/d5ef5369-f111-4c4c-88af-581618d6e11e.html" target="element"> Execute Hypermedia Control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element">  </a> </td>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																		<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/1ad20ba5-cf61-4666-abff-01b32d24147d.html" target="element">  </a> </td>
																				<td> <a href="../elements/1ad20ba5-cf61-4666-abff-01b32d24147d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																				<td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Source Selection Pattern </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/337560b3-87e0-4935-a010-7eb325525b3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/337560b3-87e0-4935-a010-7eb325525b3a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																				<td> <a href="../elements/139ff351-626e-4d74-baf1-f883a386e9ac.html" target="element"> Gather resources </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f1aef0a0-d993-4b5e-a45f-0d8cd8f3edba.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1aef0a0-d993-4b5e-a45f-0d8cd8f3edba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/a04a4549-500e-478d-a03b-ea671195deaa.html" target="element"> Execution Response </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b146954-6a86-434d-ba9a-c086414d6fa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b146954-6a86-434d-ba9a-c086414d6fa7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/402ed8bd-5208-4d8e-b07c-de8ca7713c11.html" target="element">  </a> </td>
																		<td> <a href="../elements/402ed8bd-5208-4d8e-b07c-de8ca7713c11.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/08112a97-b3b2-41a4-b0fc-108a919e7fc1.html" target="element"> Agent Runtime Memory </a> </td>
																		<td> <a href="../elements/e44ba225-e268-496e-9f6b-107d2f524cc0.html" target="element"> RDF Data or URLs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/24b0ef7a-bcb6-448f-9d1f-9b4fa4028320.html" target="element">  </a> </td>
																		<td> <a href="../elements/24b0ef7a-bcb6-448f-9d1f-9b4fa4028320.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/08112a97-b3b2-41a4-b0fc-108a919e7fc1.html" target="element"> Agent Runtime Memory </a> </td>
																		<td> <a href="../elements/a6eae27f-bced-49a4-820f-ef9cefb9d291.html" target="element"> Execution plan </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/c9334a3e-e870-42ee-ac73-6054e029d975.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9334a3e-e870-42ee-ac73-6054e029d975.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																		<td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Source Selection Pattern </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c74524f5-5fcd-4054-812f-b236d48a7eba.html" target="element">  </a> </td>
																		<td> <a href="../elements/c74524f5-5fcd-4054-812f-b236d48a7eba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																		<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a2e1238-10b3-468c-9aa1-57f0fbc6eea1.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a2e1238-10b3-468c-9aa1-57f0fbc6eea1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																		<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/48837db9-63e7-472e-b74d-f49978ecf01c.html" target="element">  </a> </td>
																				<td> <a href="../elements/48837db9-63e7-472e-b74d-f49978ecf01c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/ba7ab192-2e5a-43a3-a659-5a0bdf2bf959.html" target="element"> Source Selection Pattern </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fc6de735-499c-4e04-8910-9597fd9d0a78.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc6de735-499c-4e04-8910-9597fd9d0a78.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/18af5599-0d3d-4e0d-8530-317c668a1a94.html" target="element">  </a> </td>
																		<td> <a href="../elements/18af5599-0d3d-4e0d-8530-317c668a1a94.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/33465d0b-b7b6-4dbb-a1f8-e75e9dd6426d.html" target="element"> Instantiate execution plan </a> </td>
																		<td> <a href="../elements/ac9733c1-2a8d-4f01-8387-656f61e3e925.html" target="element"> Generate Execution plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a1959b5-c3c5-485f-8196-ef033d5efb61.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a1959b5-c3c5-485f-8196-ef033d5efb61.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/33465d0b-b7b6-4dbb-a1f8-e75e9dd6426d.html" target="element"> Instantiate execution plan </a> </td>
																		<td> <a href="../elements/eed6f5d7-9cf3-494d-a0d2-d6372e3db4be.html" target="element"> Operation  Spec </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/639eacd8-9279-4956-a3a0-225f895143a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/639eacd8-9279-4956-a3a0-225f895143a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines and services </a> </td>
																		<td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ff7d35df-5159-468a-a38c-2544a5727cc8.html" target="element"> executes </a> </td>
																				<td> <a href="../elements/ff7d35df-5159-468a-a38c-2544a5727cc8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td>
																				<td> <a href="../elements/254feade-576b-4a00-9fb9-45c407128b43.html" target="element"> Execute </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>