<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Engines</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Engines</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/ab4bdab8-8443-4489-95e3-bd96dd8ad45e.png" alt="Engines" usemap="#ab4bdab8-8443-4489-95e3-bd96dd8ad45emap">
			<map name="ab4bdab8-8443-4489-95e3-bd96dd8ad45emap">
								<area shape="rect" coords="262,46,382,101" href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html"  target="element">
								<area shape="rect" coords="202,148,322,203" href="../elements/8adb7114-f1bc-41ae-a6eb-4b16d8f5c911.html"  target="element">
								<area shape="rect" coords="346,148,466,203" href="../elements/71abec9b-f2c4-4c5f-9c58-662f6988462c.html"  target="element">
								<area shape="rect" coords="46,142,166,197" href="../elements/b67e793a-d60d-481e-857e-69e3679c6756.html"  target="element">
								<area shape="rect" coords="202,274,322,329" href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html"  target="element">
								<area shape="rect" coords="418,274,538,329" href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html"  target="element">
								<area shape="rect" coords="502,154,622,209" href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html"  target="element">

						<area shape="rect" coords="10,10,647,359" href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/8adb7114-f1bc-41ae-a6eb-4b16d8f5c911.html" target="element"> Reasoner </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/71abec9b-f2c4-4c5f-9c58-662f6988462c.html" target="element"> Query engine </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/b67e793a-d60d-481e-857e-69e3679c6756.html" target="element"> Planner </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html" target="element"> EYE </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html" target="element"> Communica </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/639eacd8-9279-4956-a3a0-225f895143a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/639eacd8-9279-4956-a3a0-225f895143a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td>
																		<td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47d35b40-9eab-42a4-a49f-7080d93521b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/47d35b40-9eab-42a4-a49f-7080d93521b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td>
																		<td> <a href="../elements/8adb7114-f1bc-41ae-a6eb-4b16d8f5c911.html" target="element"> Reasoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/56a46be5-ef91-48fe-9d5a-4d9378df5662.html" target="element">  </a> </td>
																		<td> <a href="../elements/56a46be5-ef91-48fe-9d5a-4d9378df5662.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td>
																		<td> <a href="../elements/71abec9b-f2c4-4c5f-9c58-662f6988462c.html" target="element"> Query engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a52e2e57-4e3d-4988-b447-2be8e644ff4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a52e2e57-4e3d-4988-b447-2be8e644ff4a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td>
																		<td> <a href="../elements/b67e793a-d60d-481e-857e-69e3679c6756.html" target="element"> Planner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d9773d2a-ad86-4d2b-ae36-d0c01e9ede19.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9773d2a-ad86-4d2b-ae36-d0c01e9ede19.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td>
																		<td> <a href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html" target="element"> EYE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27d52385-facf-4b20-80cd-e3fd9c4055cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/27d52385-facf-4b20-80cd-e3fd9c4055cd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td>
																		<td> <a href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html" target="element"> Communica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2b3f70aa-87c9-46e5-91e8-513235189a1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b3f70aa-87c9-46e5-91e8-513235189a1f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f93d7039-8f61-463a-ac0a-4e3c46d3f8dd.html" target="element"> Engines </a> </td>
																		<td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/146cf230-c3fe-4278-b495-54727b4c05d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/146cf230-c3fe-4278-b495-54727b4c05d4.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/8adb7114-f1bc-41ae-a6eb-4b16d8f5c911.html" target="element"> Reasoner </a> </td>
																				<td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d5918187-5529-496c-8714-4991c39f1c09.html" target="element">  </a> </td>
																				<td> <a href="../elements/d5918187-5529-496c-8714-4991c39f1c09.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/71abec9b-f2c4-4c5f-9c58-662f6988462c.html" target="element"> Query engine </a> </td>
																				<td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5ad8debe-5435-4fb9-b423-b168842a597e.html" target="element">  </a> </td>
																				<td> <a href="../elements/5ad8debe-5435-4fb9-b423-b168842a597e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/b67e793a-d60d-481e-857e-69e3679c6756.html" target="element"> Planner </a> </td>
																				<td> <a href="../elements/ef3badf8-5bc9-4ea9-96e3-efa746a5e2cd.html" target="element"> Engine </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/27122712-ea57-4111-a3ec-98571cf498f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/27122712-ea57-4111-a3ec-98571cf498f8.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/caa64c44-4851-4e3a-97b4-18f9157ed781.html" target="element"> EYE </a> </td>
																				<td> <a href="../elements/8adb7114-f1bc-41ae-a6eb-4b16d8f5c911.html" target="element"> Reasoner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/854f53bf-e167-4202-98cf-83831a28e5c0.html" target="element"> Provides </a> </td>
																				<td> <a href="../elements/854f53bf-e167-4202-98cf-83831a28e5c0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html" target="element"> Communica </a> </td>
																				<td> <a href="../elements/71abec9b-f2c4-4c5f-9c58-662f6988462c.html" target="element"> Query engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/eea28140-3308-4459-a468-dd914d75e40c.html" target="element"> Provides </a> </td>
																				<td> <a href="../elements/eea28140-3308-4459-a468-dd914d75e40c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/4828011e-45f1-4f56-94b2-fdde98fab0b2.html" target="element"> Communica </a> </td>
																				<td> <a href="../elements/baad910a-fb5c-4f47-81f8-63ee634f8168.html" target="element"> RDF Interface </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>