<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Hypermedia Agent</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Hypermedia Agent</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/e9d71b8c-149c-4062-8d0d-afc84920d8d1.png" alt="Hypermedia Agent" usemap="#e9d71b8c-149c-4062-8d0d-afc84920d8d1map">
			<map name="e9d71b8c-149c-4062-8d0d-afc84920d8d1map">
						<area shape="rect" coords="898,322,1018,377" href="../elements/1c24f631-c662-4bd1-9c5c-cd651a8672d4.html"  target="element">
						<area shape="rect" coords="22,334,142,389" href="../elements/0c896f09-5c66-47fc-a41b-f1f8660e2c97.html"  target="element">
								<area shape="rect" coords="250,118,376,182" href="../elements/8128e081-a2b3-4372-885e-215bba2416ee.html"  target="element">
										<area shape="rect" coords="562,130,683,191" href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html"  target="element">

								<area shape="rect" coords="502,70,766,251" href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html"  target="element">
								<area shape="rect" coords="550,322,695,383" href="../elements/4416be13-d764-4b5b-a815-8907ec94ac2a.html"  target="element">

						<area shape="rect" coords="214,10,815,407" href="../elements/0f07c3e5-9a8b-4bfa-9cdf-e6b13e03f9f0.html"  target="element">
								<area shape="rect" coords="22,130,142,185" href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html"  target="element">

						<area shape="rect" coords="10,94,179,215" href="../elements/e6b95eaf-6943-4733-8c16-4cba1c63f67d.html"  target="element">
								<area shape="rect" coords="286,731,406,786" href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html"  target="element">

						<area shape="rect" coords="262,707,419,803" href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html"  target="element">
								<area shape="rect" coords="442,730,562,785" href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html"  target="element">

						<area shape="rect" coords="430,694,575,803" href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html"  target="element">
								<area shape="rect" coords="106,732,226,787" href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html"  target="element">

						<area shape="rect" coords="94,708,239,801" href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html"  target="element">
								<area shape="rect" coords="154,538,263,620" href="../elements/38887454-2b7a-48e3-b2c2-17fe5de673e7.html"  target="element">
								<area shape="rect" coords="298,536,407,621" href="../elements/de5aaac0-a9a7-4b44-b632-adb843ed3771.html"  target="element">
								<area shape="rect" coords="442,540,551,628" href="../elements/523218d0-3718-4e81-9baf-b52bfc9d6ca5.html"  target="element">
								<area shape="rect" coords="586,538,709,626" href="../elements/1530fe5b-1eb3-478c-ad80-b8260abb05af.html"  target="element">
								<area shape="rect" coords="754,540,862,623" href="../elements/ea9de27a-4ef8-4c69-a647-9658d867d42b.html"  target="element">
								<area shape="rect" coords="898,538,1031,619" href="../elements/e3b1a5cf-32bf-4dad-ab32-043acadabed3.html"  target="element">

						<area shape="rect" coords="130,502,1067,647" href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html"  target="element">
								<area shape="rect" coords="598,730,718,785" href="../elements/c013de54-637b-4367-9d75-f154eb246beb.html"  target="element">

						<area shape="rect" coords="586,706,731,803" href="../elements/31961248-d004-4893-a77c-91153d905f9e.html"  target="element">
								<area shape="rect" coords="754,731,874,786" href="../elements/2654de8b-b9cb-46e8-8a05-c662a78e0b0f.html"  target="element">

						<area shape="rect" coords="742,707,887,803" href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html"  target="element">
								<area shape="rect" coords="934,730,1054,785" href="../elements/537b0345-8126-4802-9f79-1d740179bbea.html"  target="element">

						<area shape="rect" coords="910,706,1090,798" href="../elements/09ca6949-845b-4a20-940d-1111963c67a3.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/1c24f631-c662-4bd1-9c5c-cd651a8672d4.html" target="element"> Response </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											<tr><td> <a href="../elements/0c896f09-5c66-47fc-a41b-f1f8660e2c97.html" target="element"> Request </a> </td><td class="i18n-elementtype-Representation"></td></tr>
											<tr><td> <a href="../elements/0f07c3e5-9a8b-4bfa-9cdf-e6b13e03f9f0.html" target="element"> Agent Instance </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/8128e081-a2b3-4372-885e-215bba2416ee.html" target="element"> Register Hypermedia Specs </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													
													<tr><td> <a href="../elements/4416be13-d764-4b5b-a815-8907ec94ac2a.html" target="element"> Handle Request </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
											
											<tr><td> <a href="../elements/e6b95eaf-6943-4733-8c16-4cba1c63f67d.html" target="element"> Functionality Package </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html" target="element"> Package </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											
											<tr><td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html" target="element"> Hypermedia API </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/38887454-2b7a-48e3-b2c2-17fe5de673e7.html" target="element"> Hypermedia Trait </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/de5aaac0-a9a7-4b44-b632-adb843ed3771.html" target="element"> Planning Trait </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/523218d0-3718-4e81-9baf-b52bfc9d6ca5.html" target="element"> Querying Trait </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/1530fe5b-1eb3-478c-ad80-b8260abb05af.html" target="element"> Communication Trait </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ea9de27a-4ef8-4c69-a647-9658d867d42b.html" target="element"> Personal assistance </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/e3b1a5cf-32bf-4dad-ab32-043acadabed3.html" target="element"> Agency Trait </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
											
											<tr><td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/c013de54-637b-4367-9d75-f154eb246beb.html" target="element"> Provide RDF Interface </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html" target="element"> Cognitive assistance </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/2654de8b-b9cb-46e8-8a05-c662a78e0b0f.html" target="element"> Sets </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											
											<tr><td> <a href="../elements/09ca6949-845b-4a20-940d-1111963c67a3.html" target="element"> Agency </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/537b0345-8126-4802-9f79-1d740179bbea.html" target="element"> Desire and Intention </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d6da1c0d-5866-4d39-a025-007c87c8865b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6da1c0d-5866-4d39-a025-007c87c8865b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0f07c3e5-9a8b-4bfa-9cdf-e6b13e03f9f0.html" target="element"> Agent Instance </a> </td>
																		<td> <a href="../elements/8128e081-a2b3-4372-885e-215bba2416ee.html" target="element"> Register Hypermedia Specs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/65b80315-dea7-4c6f-a9a3-8f1cd30e611a.html" target="element">  </a> </td>
																		<td> <a href="../elements/65b80315-dea7-4c6f-a9a3-8f1cd30e611a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0f07c3e5-9a8b-4bfa-9cdf-e6b13e03f9f0.html" target="element"> Agent Instance </a> </td>
																		<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/23df5ff2-0b37-4624-812a-68f06d9432f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/23df5ff2-0b37-4624-812a-68f06d9432f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0f07c3e5-9a8b-4bfa-9cdf-e6b13e03f9f0.html" target="element"> Agent Instance </a> </td>
																		<td> <a href="../elements/4416be13-d764-4b5b-a815-8907ec94ac2a.html" target="element"> Handle Request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf84def2-9a33-4bd0-84f4-30568e7d2a1a.html" target="element"> Has One or more </a> </td>
																		<td> <a href="../elements/bf84def2-9a33-4bd0-84f4-30568e7d2a1a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/0f07c3e5-9a8b-4bfa-9cdf-e6b13e03f9f0.html" target="element"> Agent Instance </a> </td>
																		<td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/cdb85dee-36a0-4416-882a-2ad92070b99d.html" target="element"> generates many </a> </td>
																				<td> <a href="../elements/cdb85dee-36a0-4416-882a-2ad92070b99d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/8128e081-a2b3-4372-885e-215bba2416ee.html" target="element"> Register Hypermedia Specs </a> </td>
																				<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f8a99588-6d71-4ce4-8131-c28555e50768.html" target="element">  </a> </td>
																				<td> <a href="../elements/f8a99588-6d71-4ce4-8131-c28555e50768.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/8128e081-a2b3-4372-885e-215bba2416ee.html" target="element"> Register Hypermedia Specs </a> </td>
																				<td> <a href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html" target="element"> Package </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5a2e1238-10b3-468c-9aa1-57f0fbc6eea1.html" target="element">  </a> </td>
																				<td> <a href="../elements/5a2e1238-10b3-468c-9aa1-57f0fbc6eea1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/16f36c1b-163f-4d78-ae3b-02a556ced49e.html" target="element"> Hypermedia Spec </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d63b35c7-93a8-41a8-a432-08261edce68e.html" target="element"> serves </a> </td>
																				<td> <a href="../elements/d63b35c7-93a8-41a8-a432-08261edce68e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/bbabdc99-1162-435b-a332-bcfa6237c8a4.html" target="element"> Hypermedia Spec </a> </td>
																				<td> <a href="../elements/4416be13-d764-4b5b-a815-8907ec94ac2a.html" target="element"> Handle Request </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/5f96ec5d-fcaf-4def-a89e-484436c89924.html" target="element">  </a> </td>
																				<td> <a href="../elements/5f96ec5d-fcaf-4def-a89e-484436c89924.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/4416be13-d764-4b5b-a815-8907ec94ac2a.html" target="element"> Handle Request </a> </td>
																				<td> <a href="../elements/0c896f09-5c66-47fc-a41b-f1f8660e2c97.html" target="element"> Request </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/da55102f-9eef-4968-9b7c-e77605c7710e.html" target="element">  </a> </td>
																				<td> <a href="../elements/da55102f-9eef-4968-9b7c-e77605c7710e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/4416be13-d764-4b5b-a815-8907ec94ac2a.html" target="element"> Handle Request </a> </td>
																				<td> <a href="../elements/1c24f631-c662-4bd1-9c5c-cd651a8672d4.html" target="element"> Response </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/6e66dfdc-5f3f-40c3-b72f-4e04e42f6f05.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e66dfdc-5f3f-40c3-b72f-4e04e42f6f05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e6b95eaf-6943-4733-8c16-4cba1c63f67d.html" target="element"> Functionality Package </a> </td>
																		<td> <a href="../elements/c4e76d13-feeb-4c19-99b5-9c90322a4aef.html" target="element"> Package </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/79746f73-38dc-4c5e-8580-f4e05dd122dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/79746f73-38dc-4c5e-8580-f4e05dd122dc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																		<td> <a href="../elements/8dd5dcd4-371b-4750-82b4-5518d8b21da7.html" target="element"> Planning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element">  </a> </td>
																		<td> <a href="../elements/89f8da7a-29b6-4348-94af-ffe2a7a3b52c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																		<td> <a href="../elements/a54f46c3-4017-40e6-82d6-480815b24650.html" target="element"> Select Resources </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/bd1594e3-b1a4-4f4c-819c-379f0722928f.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd1594e3-b1a4-4f4c-819c-379f0722928f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td>
																		<td> <a href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html" target="element"> Hypermedia API </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/26bc0dce-002e-4d6e-a9a4-abcd1ac5e5f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/26bc0dce-002e-4d6e-a9a4-abcd1ac5e5f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td>
																		<td> <a href="../elements/523218d0-3718-4e81-9baf-b52bfc9d6ca5.html" target="element"> Querying Trait </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ad66cd94-e68f-42e6-a4db-e40a89db2a00.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad66cd94-e68f-42e6-a4db-e40a89db2a00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td>
																		<td> <a href="../elements/1530fe5b-1eb3-478c-ad80-b8260abb05af.html" target="element"> Communication Trait </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/141f0563-f68b-460e-838d-7dfca79754df.html" target="element">  </a> </td>
																		<td> <a href="../elements/141f0563-f68b-460e-838d-7dfca79754df.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td>
																		<td> <a href="../elements/de5aaac0-a9a7-4b44-b632-adb843ed3771.html" target="element"> Planning Trait </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1a224965-4636-4dd7-82ce-c796fe23873a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a224965-4636-4dd7-82ce-c796fe23873a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td>
																		<td> <a href="../elements/ea9de27a-4ef8-4c69-a647-9658d867d42b.html" target="element"> Personal assistance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d2b8e01b-1e95-41b4-9445-d5064d184c81.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2b8e01b-1e95-41b4-9445-d5064d184c81.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td>
																		<td> <a href="../elements/38887454-2b7a-48e3-b2c2-17fe5de673e7.html" target="element"> Hypermedia Trait </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/460a556c-63ea-4fc9-a355-1545b504e2d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/460a556c-63ea-4fc9-a355-1545b504e2d1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/711cfe69-6941-499e-b36c-3a600167ab01.html" target="element"> Agent Traits </a> </td>
																		<td> <a href="../elements/e3b1a5cf-32bf-4dad-ab32-043acadabed3.html" target="element"> Agency Trait </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/9f61f1f8-ad3e-40fb-9ac8-1a3a3b9998a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f61f1f8-ad3e-40fb-9ac8-1a3a3b9998a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/38887454-2b7a-48e3-b2c2-17fe5de673e7.html" target="element"> Hypermedia Trait </a> </td>
																				<td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/92c8cbd5-8fe5-4ba8-aab9-d3544c6387a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/92c8cbd5-8fe5-4ba8-aab9-d3544c6387a8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/de5aaac0-a9a7-4b44-b632-adb843ed3771.html" target="element"> Planning Trait </a> </td>
																				<td> <a href="../elements/1d02fdc1-b3cf-4bdb-aca4-ec6f68883d82.html" target="element"> AI Planning </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b908f1c5-4b39-4ca5-b610-6e67d5dc4d7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/b908f1c5-4b39-4ca5-b610-6e67d5dc4d7d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/523218d0-3718-4e81-9baf-b52bfc9d6ca5.html" target="element"> Querying Trait </a> </td>
																				<td> <a href="../elements/7318fa68-c32f-463f-ae9b-bd23a1aac05d.html" target="element"> Provide Resources </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6bb314bf-8a54-45aa-87de-37ceb944805e.html" target="element">  </a> </td>
																				<td> <a href="../elements/6bb314bf-8a54-45aa-87de-37ceb944805e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/1530fe5b-1eb3-478c-ad80-b8260abb05af.html" target="element"> Communication Trait </a> </td>
																				<td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b59bfec8-aa79-4732-aa41-aa4ffb07a004.html" target="element">  </a> </td>
																				<td> <a href="../elements/b59bfec8-aa79-4732-aa41-aa4ffb07a004.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ea9de27a-4ef8-4c69-a647-9658d867d42b.html" target="element"> Personal assistance </a> </td>
																				<td> <a href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html" target="element"> Cognitive assistance </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2b6fa2c4-e49b-439e-ae6f-3bb80caa70f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/2b6fa2c4-e49b-439e-ae6f-3bb80caa70f5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e3b1a5cf-32bf-4dad-ab32-043acadabed3.html" target="element"> Agency Trait </a> </td>
																				<td> <a href="../elements/09ca6949-845b-4a20-940d-1111963c67a3.html" target="element"> Agency </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/6e2300e1-d058-4415-87ec-eea8fd8fd388.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e2300e1-d058-4415-87ec-eea8fd8fd388.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/31961248-d004-4893-a77c-91153d905f9e.html" target="element"> RDF Interfaces </a> </td>
																		<td> <a href="../elements/c013de54-637b-4367-9d75-f154eb246beb.html" target="element"> Provide RDF Interface </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/538144d8-4ccb-4ce0-b8c3-6bf60939ee49.html" target="element">  </a> </td>
																		<td> <a href="../elements/538144d8-4ccb-4ce0-b8c3-6bf60939ee49.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/52db99a8-386a-4693-a8ac-4c0d5128c175.html" target="element"> Cognitive assistance </a> </td>
																		<td> <a href="../elements/2654de8b-b9cb-46e8-8a05-c662a78e0b0f.html" target="element"> Sets </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/3489f67b-ba14-4a6f-b8a5-5bb731db65bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/3489f67b-ba14-4a6f-b8a5-5bb731db65bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/09ca6949-845b-4a20-940d-1111963c67a3.html" target="element"> Agency </a> </td>
																		<td> <a href="../elements/537b0345-8126-4802-9f79-1d740179bbea.html" target="element"> Desire and Intention </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>