<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>HTTP</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>HTTP</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/f5264afb-6363-43a9-8c92-969753565fa4.png" alt="HTTP" usemap="#f5264afb-6363-43a9-8c92-969753565fa4map">
			<map name="f5264afb-6363-43a9-8c92-969753565fa4map">
								<area shape="rect" coords="214,142,334,197" href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html"  target="element">
								<area shape="rect" coords="70,262,190,317" href="../elements/30925550-994a-4f3a-b9ad-08cf6a54203e.html"  target="element">
								<area shape="rect" coords="214,262,334,317" href="../elements/0517208a-0e02-4f1f-8e99-ad4862ed10d5.html"  target="element">
								<area shape="rect" coords="358,262,478,317" href="../elements/364d289e-25b4-4a62-9fcd-9fc7413f3685.html"  target="element">
										<area shape="rect" coords="742,172,862,227" href="../elements/4fff10f9-8a93-40d6-8c9d-07c2b8ba76cd.html"  target="element">
										<area shape="rect" coords="550,172,670,227" href="../elements/676f0ad6-b2ed-40df-b6a3-2ba920b15acd.html"  target="element">
										<area shape="rect" coords="742,304,862,359" href="../elements/09a46623-3bf0-4d18-b69c-c480fe680c81.html"  target="element">
										<area shape="rect" coords="550,304,670,359" href="../elements/de2502db-68d3-4cbc-8b90-00093a4f2978.html"  target="element">
										<area shape="rect" coords="910,287,1030,359" href="../elements/cd8fd670-65f2-41c0-b9ed-515b6156b2a6.html"  target="element">

								<area shape="rect" coords="526,124,1091,374" href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html"  target="element">

						<area shape="rect" coords="10,10,1139,431" href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html"  target="element">
								<area shape="rect" coords="130,634,250,689" href="../elements/f42c8d78-0a51-4617-8e77-fbc2887c9d81.html"  target="element">
								<area shape="rect" coords="262,634,382,689" href="../elements/ff7f5943-3b5f-4c71-9e4b-82c8cd04d67f.html"  target="element">
								<area shape="rect" coords="202,538,322,593" href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html"  target="element">

						<area shape="rect" coords="106,490,431,707" href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html"  target="element">
								<area shape="rect" coords="502,550,622,605" href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html"  target="element">
								<area shape="rect" coords="658,550,778,605" href="../elements/071ffc00-6630-403f-8712-4cd6b7c394fd.html"  target="element">

						<area shape="rect" coords="478,502,791,635" href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/30925550-994a-4f3a-b9ad-08cf6a54203e.html" target="element"> Entity Description </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/0517208a-0e02-4f1f-8e99-ad4862ed10d5.html" target="element"> Selected Resources </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/364d289e-25b4-4a62-9fcd-9fc7413f3685.html" target="element"> Generated resources </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html" target="element"> Controls </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
															<tr><td> <a href="../elements/4fff10f9-8a93-40d6-8c9d-07c2b8ba76cd.html" target="element"> Link </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/676f0ad6-b2ed-40df-b6a3-2ba920b15acd.html" target="element"> Hypermedia Control </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/09a46623-3bf0-4d18-b69c-c480fe680c81.html" target="element"> External resources </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/de2502db-68d3-4cbc-8b90-00093a4f2978.html" target="element"> Operations </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
															<tr><td> <a href="../elements/cd8fd670-65f2-41c0-b9ed-515b6156b2a6.html" target="element"> Linked Data Platform Containers </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													
											
											<tr><td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/f42c8d78-0a51-4617-8e77-fbc2887c9d81.html" target="element"> RDFa Parser </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/ff7f5943-3b5f-4c71-9e4b-82c8cd04d67f.html" target="element"> Parse JSON-LD </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html" target="element"> Parsing </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											
											<tr><td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html" target="element"> Hypermedia API </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
													<tr><td> <a href="../elements/071ffc00-6630-403f-8712-4cd6b7c394fd.html" target="element"> Top Down API </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6b146954-6a86-434d-ba9a-c086414d6fa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b146954-6a86-434d-ba9a-c086414d6fa7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8513ffd3-e249-4a32-85a4-964103012a3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/8513ffd3-e249-4a32-85a4-964103012a3b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/30925550-994a-4f3a-b9ad-08cf6a54203e.html" target="element"> Entity Description </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b5c377bf-89d5-4402-9d8d-27ae99cae266.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5c377bf-89d5-4402-9d8d-27ae99cae266.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/0517208a-0e02-4f1f-8e99-ad4862ed10d5.html" target="element"> Selected Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67216222-7c0d-4b60-83b8-e9d42e2ee77a.html" target="element">  </a> </td>
																		<td> <a href="../elements/67216222-7c0d-4b60-83b8-e9d42e2ee77a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/364d289e-25b4-4a62-9fcd-9fc7413f3685.html" target="element"> Generated resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e371d6f-2a17-4e24-9a97-962b9d4da14e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e371d6f-2a17-4e24-9a97-962b9d4da14e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																		<td> <a href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html" target="element"> Controls </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7b8084b6-d6a0-4d02-a4c6-3f9c501911ab.html" target="element">  </a> </td>
																				<td> <a href="../elements/7b8084b6-d6a0-4d02-a4c6-3f9c501911ab.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/30925550-994a-4f3a-b9ad-08cf6a54203e.html" target="element"> Entity Description </a> </td>
																				<td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8402ab94-9347-421d-a3dc-dac0d0523ab2.html" target="element">  </a> </td>
																				<td> <a href="../elements/8402ab94-9347-421d-a3dc-dac0d0523ab2.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/0517208a-0e02-4f1f-8e99-ad4862ed10d5.html" target="element"> Selected Resources </a> </td>
																				<td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/267292e6-b125-44a1-82bf-820196bdf82f.html" target="element">  </a> </td>
																				<td> <a href="../elements/267292e6-b125-44a1-82bf-820196bdf82f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/364d289e-25b4-4a62-9fcd-9fc7413f3685.html" target="element"> Generated resources </a> </td>
																				<td> <a href="../elements/5cbbb579-e9aa-42b4-9e91-83cfd7971f7c.html" target="element"> RDF Data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4634be69-9356-4c84-bff0-382684534182.html" target="element">  </a> </td>
																				<td> <a href="../elements/4634be69-9356-4c84-bff0-382684534182.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html" target="element"> Controls </a> </td>
																				<td> <a href="../elements/4fff10f9-8a93-40d6-8c9d-07c2b8ba76cd.html" target="element"> Link </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7f791930-5280-4b56-8319-95d14dd6a773.html" target="element">  </a> </td>
																				<td> <a href="../elements/7f791930-5280-4b56-8319-95d14dd6a773.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html" target="element"> Controls </a> </td>
																				<td> <a href="../elements/676f0ad6-b2ed-40df-b6a3-2ba920b15acd.html" target="element"> Hypermedia Control </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cd2483a2-2fd0-4922-ac7f-7672f5d797b8.html" target="element">  </a> </td>
																				<td> <a href="../elements/cd2483a2-2fd0-4922-ac7f-7672f5d797b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html" target="element"> Controls </a> </td>
																				<td> <a href="../elements/09a46623-3bf0-4d18-b69c-c480fe680c81.html" target="element"> External resources </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f8792e78-aefa-482b-a9ab-53ea8672ef29.html" target="element">  </a> </td>
																				<td> <a href="../elements/f8792e78-aefa-482b-a9ab-53ea8672ef29.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html" target="element"> Controls </a> </td>
																				<td> <a href="../elements/de2502db-68d3-4cbc-8b90-00093a4f2978.html" target="element"> Operations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8206b2d5-b990-40cf-948d-c1b3167b4ff4.html" target="element">  </a> </td>
																				<td> <a href="../elements/8206b2d5-b990-40cf-948d-c1b3167b4ff4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/7d6da341-c48c-42d7-999e-cf8f5024a41c.html" target="element"> Controls </a> </td>
																				<td> <a href="../elements/cd8fd670-65f2-41c0-b9ed-515b6156b2a6.html" target="element"> Linked Data Platform Containers </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/14822cfe-ecaa-4c89-a669-60ef8fd55b3c.html" target="element">  </a> </td>
																						<td> <a href="../elements/14822cfe-ecaa-4c89-a669-60ef8fd55b3c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/09a46623-3bf0-4d18-b69c-c480fe680c81.html" target="element"> External resources </a> </td>
																						<td> <a href="../elements/4fff10f9-8a93-40d6-8c9d-07c2b8ba76cd.html" target="element"> Link </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/c63d7b31-da32-4c63-aeb4-c2f6f6710d68.html" target="element">  </a> </td>
																						<td> <a href="../elements/c63d7b31-da32-4c63-aeb4-c2f6f6710d68.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/de2502db-68d3-4cbc-8b90-00093a4f2978.html" target="element"> Operations </a> </td>
																						<td> <a href="../elements/676f0ad6-b2ed-40df-b6a3-2ba920b15acd.html" target="element"> Hypermedia Control </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e6636755-fa70-4c88-8f57-01bf63fa2c20.html" target="element">  </a> </td>
																						<td> <a href="../elements/e6636755-fa70-4c88-8f57-01bf63fa2c20.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/de2502db-68d3-4cbc-8b90-00093a4f2978.html" target="element"> Operations </a> </td>
																						<td> <a href="../elements/4fff10f9-8a93-40d6-8c9d-07c2b8ba76cd.html" target="element"> Link </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/2678dfbe-4a94-401f-960d-6b8ecc1b68dc.html" target="element">  </a> </td>
																						<td> <a href="../elements/2678dfbe-4a94-401f-960d-6b8ecc1b68dc.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/cd8fd670-65f2-41c0-b9ed-515b6156b2a6.html" target="element"> Linked Data Platform Containers </a> </td>
																						<td> <a href="../elements/4fff10f9-8a93-40d6-8c9d-07c2b8ba76cd.html" target="element"> Link </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/a2ab1f61-6277-4c5e-9aca-946c0a796583.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2ab1f61-6277-4c5e-9aca-946c0a796583.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td>
																		<td> <a href="../elements/f42c8d78-0a51-4617-8e77-fbc2887c9d81.html" target="element"> RDFa Parser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9319b7b4-343f-465b-8829-dcfd185c371c.html" target="element">  </a> </td>
																		<td> <a href="../elements/9319b7b4-343f-465b-8829-dcfd185c371c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td>
																		<td> <a href="../elements/ff7f5943-3b5f-4c71-9e4b-82c8cd04d67f.html" target="element"> Parse JSON-LD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/af590117-448b-405a-849c-38b355aad5cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/af590117-448b-405a-849c-38b355aad5cf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td>
																		<td> <a href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html" target="element"> Parsing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c02ec193-71a5-4605-b042-ccd6b666ff4f.html" target="element"> Parses </a> </td>
																		<td> <a href="../elements/c02ec193-71a5-4605-b042-ccd6b666ff4f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6674599e-c786-4d76-a7db-66c8232e1eeb.html" target="element"> Parsers </a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c2c9845d-88d3-4937-a56f-34808adce02a.html" target="element">  </a> </td>
																				<td> <a href="../elements/c2c9845d-88d3-4937-a56f-34808adce02a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/f42c8d78-0a51-4617-8e77-fbc2887c9d81.html" target="element"> RDFa Parser </a> </td>
																				<td> <a href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html" target="element"> Parsing </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/97bacf24-a279-4f07-922a-d544078505cc.html" target="element">  </a> </td>
																				<td> <a href="../elements/97bacf24-a279-4f07-922a-d544078505cc.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/ff7f5943-3b5f-4c71-9e4b-82c8cd04d67f.html" target="element"> Parse JSON-LD </a> </td>
																				<td> <a href="../elements/73240a5c-3d45-473f-91fa-3808141c9e66.html" target="element"> Parsing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/eb0187f4-7830-4516-a689-a11c7e82809e.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb0187f4-7830-4516-a689-a11c7e82809e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td>
																		<td> <a href="../elements/071ffc00-6630-403f-8712-4cd6b7c394fd.html" target="element"> Top Down API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd1594e3-b1a4-4f4c-819c-379f0722928f.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd1594e3-b1a4-4f4c-819c-379f0722928f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td>
																		<td> <a href="../elements/21ec6505-bf71-4a56-8ebd-858e9c02ba47.html" target="element"> Hypermedia API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c770d6ee-f386-41fb-a7ba-09e6bec5442b.html" target="element"> Provides </a> </td>
																		<td> <a href="../elements/c770d6ee-f386-41fb-a7ba-09e6bec5442b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/590c0655-175d-4d82-97eb-a21080b06867.html" target="element"> API </a> </td>
																		<td> <a href="../elements/b7e23b2e-f8f3-4b2a-a911-fefe7893953a.html" target="element"> Response </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>